In [1]:
#extension_visualization
import pandas as pd
import numpy as np
import matplotlib as plt  
from linearmodels import PanelOLS
import statsmodels.api as sm

from econtools import read, outreg, table_statrow, write_notes
import econtools as econ
import econtools.metrics as mt

#!pip install pylatex
#!pip install pylatex[matrices]
from econtools import read, outreg, table_statrow, write_notes
from pylatex import Document, Section, Subsection, Tabular, Math, TikZ, Axis, \
    Plot, Figure, Matrix, Alignat
from pylatex.utils import italic
import os

from statsmodels.stats.outliers_influence import variance_inflation_factor
from auxiliary.prepare import *
from auxiliary.table2 import *
from auxiliary.table_formula import *

df = pd.read_stata('data/Authority.dta')

#construct work category dummy
df['OG03_dummy'] = 0
df.loc[(df['work_category']=='OG03')&(df['work_category']!=''),'OG03_dummy'] = 1

df['OG01_dummy'] = 0
df.loc[(df['work_category']=='OG01')&(df['work_category']!=''),'OG01_dummy'] = 1

df['OG_rest_dummy'] = 0
df.loc[(df['OG01_dummy']!=1)&(df['OG03_dummy']!=1)&(df['work_category']!=''),'OG_rest_dummy'] = 1

df['OG_dummy'] = 0
df.loc[df['work_category'].str[0:2] == 'OG','OG_dummy'] = 1

df['OS_dummy'] = 0
df.loc[df['work_category'].str[0:2] == 'OS','OS_dummy'] = 1

#treated vs controls
df['trend'] = df['year'] - 1999

df['trend_treat'] = df['trend']
df.loc[(df['authority_code']!=3090272)&(df['authority_code']!=3070001),'trend_treat'] = 0
#15225 real change made / no zeros in df['trend']
#print(df['trend_treat'].value_counts()) chekced

df['trend_control'] = df['trend']
df.loc[(df['authority_code']==3090272)|(df['authority_code']==3070001),'trend_control'] = 0
#902 real change made
#print(df['trend_control'].value_counts()) checked

#PA specifics
df = df.sort_values(by='authority_code',ascending=True)
#auth = econ.group_id(df, cols = 'authority_code')
#print(auth) #dataframe

auth_list = df['authority_code'].values.tolist()
auth_list = list(set(auth_list))
#겹치는 부분 = authority_code야
#id_auth = group_id + 1 if df의 auth code == auth의 code

df['id_auth'] = 0
for i in range(len(df)):
    for j in range(len(auth_list)):
        if df.loc[i,'authority_code'] == auth_list[j]:
            df.loc[i,'id_auth'] = j+1

work_dum = pd.get_dummies(df['work_category'])
year_dum = pd.get_dummies(df['year'])
work_list = list(work_dum.columns)
year_list = list(year_dum.columns)

df_dum = pd.concat([year_dum, work_dum],axis = 1)
df = pd.concat([df, df_dum],axis = 1)

In [ ]:
def table2_col2(data):
    df = data
    df_reg_co = df[(df['turin_co_sample']==1)&(df['ctrl_exp_turin_co_sample']==1)&(df['post_experience']>= 5) & (df['pre_experience']>=5) &(df['post_experience'].isnull() == False ) &
                   (df['pre_experience'].isnull()==False)&(df['missing']==0)]
    outcome = ['discount', 'delay_ratio', 'overrun_ratio', 'days_to_award']

    #iteration
    for o in outcome:
        idx = df_reg_co[df_reg_co[o].isnull()==True].index
        df_name = df_reg_co.drop(idx)
    
        #make a column list
        reg_col = []
        for i in work_list:
            reg_col.append(i)
        for j in year_list:
            reg_col.append(j)
        exog_var = ['fpsb_auction','id_auth','reserve_price','municipality']
        exog = exog_var + reg_col 

        #check multicollinearity
        for 
        X = df_name.loc[:,exog]
        vif = calc_vif(X)

        #delete from col list
        for i in range(len(vif)):
            if np.isnan(vif.loc[i, 'VIF']) == True:
                reg_col.remove(vif.loc[i, 'variables'])
            elif vif.loc[i,'VIF'] > 10:
                for j in exog_var:
                    if str(vif.loc[i,'variables']) is j and vif.loc[i,'variables'] is not 'fpsb_auction' and vif.loc[i,'variables'] is not 'id_auth':
                        exog_var.remove(vif.loc[i,'variables'])
                
        exog = exog_var + reg_col
        exog.remove('id_auth')
        exog.remove(2000)
        exog.remove('OG01')

        #print(exog) #check
        fe_reg = mt.reg(df_name, o, exog, fe_name = 'authority_code', cluster = 'auth_anno')
        return(fe_reg)

test

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from linearmodels import PanelOLS
import statsmodels.api as sm
import econtools as econ
import econtools.metrics as mt
from statsmodels.stats.outliers_influence import variance_inflation_factor

from auxiliary.prepare import *
from auxiliary.table2 import *
from auxiliary.table_formula import *


df = pd.read_stata('data/Authority.dta')

In [2]:
df = basic_setting(df)

In [34]:
df_table = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
value_title = ['First Auction Price','Standard Error','R$^2$','Observations']
Panel =['A:Winnig discount','B:Cost overrun','C:Completion time delay','D:Days to award the contract']

In [6]:
tab2_col1 = table2_col1(df)
tab2_col2 = table2_col2(df)

In [35]:
reg_tab(tab2_col1, df_table, 1)
reg_tab(tab2_col2, df_table, 2)

                                                    Control(1)    Control(2)  \
Panel                        value_title
A:Winnig discount            First Auction Price    13.10***      11.99***
                             Standard Error         (1.61)        (1.32)
                             R$^2$                  0.505         0.639
                             Observations           1262          1262
B:Cost overrun               First Auction Price    7.20***       5.87***
                             Standard Error         (1.99)        (2.05)
                             R$^2$                  0.111         0.156
                             Observations           1092          1092
C:Completion time delay      First Auction Price    25.23**       34.18***
                             Standard Error         (12.05)       (12.13)
                             R$^2$                  0.085         0.122
                             Observations           1110          1110
D:Days to award the contract First Auction Price   28.70***      26.23**
                             Standard Error        (10.78)       (11.18)
                             R$^2$                 0.554         0.566
                             Observations          777           777

                                                  Control(3)  Control(4)  \
Panel                        value_title
A:Winnig discount            First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
B:Cost overrun               First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
C:Completion time delay      First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
D:Days to award the contract First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN

                                                  Control(5)  Control(6)
Panel                        value_title
A:Winnig discount            First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
B:Cost overrun               First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
C:Completion time delay      First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN
D:Days to award the contract First Auction Price         NaN         NaN
                             Standard Error              NaN         NaN
                             R$^2$                       NaN         NaN
                             Observations                NaN         NaN

In [79]:
#table2 col 2 for all outcomes
#f.write r2 and N
#talbe 2 col2 fianl version
#to make iterable
#스엉공..
df_reg_co = df[(df['turin_co_sample']==1)&(df['ctrl_exp_turin_co_sample']==1)&(df['post_experience']>= 5) & (df['pre_experience']>=5) &(df['post_experience'].isnull() == False ) & (df['pre_experience'].isnull()==False)&(df['missing']==0)]
outcome = ['discount', 'delay_ratio', 'overrun_ratio', 'days_to_award']

# mutlicollinearity function
from statsmodels.stats.outliers_influence import variance_inflation_factor
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

#iteration
for o in outcome:
    #idx = df_reg_co[df_reg_co[o].isnull()==True].index
    #df_name = df_reg_co.drop(idx)
    
    #vif cal
    #first, make a column list
    reg_col = []
    for i in work_list:
        reg_col.append(i)
    for j in year_list:
        reg_col.append(j)
    exog_var = ['fpsb_auction','id_auth','reserve_price','municipality']
    exog = exog_var + reg_col 


    #check multicollinearity
    X = df_reg_co.loc[:,exog]
    vif = calc_vif(X)
    #print(vif)


    #delete from col list
    for i in range(len(vif)):
        if np.isnan(vif.loc[i, 'VIF']) == True:
            reg_col.remove(vif.loc[i, 'variables'])
        elif vif.loc[i,'VIF'] > 10:
            for j in exog_var:
                if str(vif.loc[i,'variables']) is j and vif.loc[i,'variables'] is not 'fpsb_auction' and vif.loc[i,'variables'] is not 'id_auth':
                    exog_var.remove(vif.loc[i,'variables'])
                
    exog = exog_var + reg_col
    exog.remove('id_auth')
    exog.remove(2000)
    exog.remove('OG01')
        #exog.remove('municipality')

    if o == 'discount':
        fe_reg_discount = mt.reg(df_reg_co, o, exog, fe_name = 'authority_code', cluster = 'auth_anno')
    elif o == 'delay_ratio':
        fe_reg_delay = mt.reg(df_reg_co, o, exog, fe_name = 'authority_code', cluster = 'auth_anno')
    elif o == 'overrun_ratio':
        exog.remove('OS07')
        fe_reg_overrun = mt.reg(df_reg_co, o, exog, fe_name = 'authority_code', cluster = 'auth_anno',check_colinear = True)
    else :
        exog.remove('OG04')
        exog.remove('OS05')
        exog.remove('OS07')
        exog.remove('OS11')
        exog.remove('OS26')
        fe_reg_award = mt.reg(df_reg_co, o, exog, fe_name = 'authority_code', cluster = 'auth_anno',check_colinear = True)

#result_path = 'my_result.tex'
#with open(result_path,'w') as f:
reg = (fe_reg_discount, fe_reg_delay, fe_reg_overrun, fe_reg_award )
table_string = outreg(reg, ['fpsb_auction'], ['First Price Auction'], digits = 3)
#table_string += '\\\ \n'
table_string += table_statrow("R$^2$", [x.r2 for x in reg], digits =3)
table_string += table_statrow("Number of Observation", [x.N for x in reg])
#table_string += table_statrwo("Stdard Error",[iterable])
#f.write(table_string + '\n')

In [81]:
table_list = table_string.split('&')
table_list2 = [i.split('\\\\ \n',1)[0] for i in table_list]
#print(table_list2)
#문제는 R제곱같은 게 같이 없어짐
table_list2.remove(table_list2[0])
print(table_list2)
list_fpa =[]
list_r2 =[]
list_N = []
for i in range(len(table_list2)):
    if i<4:
        list_fpa.append(table_list2[i])
    elif i>=4 and i<8:
        list_r2.append(table_list2[i])
    else:
        list_N.append(table_list2[i])

df_table = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
value_title = ['First Auction Price','Standard Error','R$^2$','Observations']
Panel =['A','B','C','D']

for i in range(len(table_list2)):
    df_table.loc[i, 'Control(2)'] = table_list2[i]
    if i<4:
        df_table.loc[i,'value_title'] = value_title[0]
    elif i>=4 and i<8:
        df_table.loc[i,'value_title'] = value_title[1]
    elif i>=8 and i<12:
        df_table.loc[i,'value_title'] = value_title[2]
    else:
        df_table.loc[i,'value_title'] = value_title[3]

for i in range(0,4):
    if i ==0:
        df_table.loc[i,'Panel'] =Panel[i]
        df_table.loc[i+4,'Panel'] =Panel[i]
        df_table.loc[i+8,'Panel'] =Panel[i]
        df_table.loc[i+12,'Panel'] =Panel[i]
    elif i == 1:
        df_table.loc[i,'Panel'] =Panel[i+1]
        df_table.loc[i+4,'Panel'] =Panel[i+1]
        df_table.loc[i+8,'Panel'] =Panel[i+1]
        df_table.loc[i+12,'Panel'] =Panel[i+1]
    elif i == 2:
        df_table.loc[i,'Panel'] =Panel[i-1]
        df_table.loc[i+4,'Panel'] =Panel[i-1]
        df_table.loc[i+8,'Panel'] =Panel[i-1]
        df_table.loc[i+12,'Panel'] =Panel[i-1]
    elif i == 3:
        df_table.loc[i,'Panel'] =Panel[i]
        df_table.loc[i+4,'Panel'] =Panel[i]
        df_table.loc[i+8,'Panel'] =Panel[i]
        df_table.loc[i+12,'Panel'] =Panel[i]

df_table = df_table.sort_values(by='Panel',ascending = True).set_index(['Panel'])
df_table.head()

[' 11.992***  ', ' 34.180***  ', ' 5.873***   ', ' 26.234**    ', ' (1.315)    ', ' (12.127)   ', ' (2.047)    ', ' (11.179)    ', ' 0.639     ', ' 0.122     ', ' 0.156     ', ' 0.566      ', ' 1262      ', ' 1110      ', ' 1092      ', ' 777        ']

,value_title,Control(1),Control(2),Control(3),Control(4),Control(5),Control(6)
Panel,,,,,,,
A,First Auction Price,NaN,11.992***,NaN,NaN,NaN,NaN
A,Standard Error,NaN,(1.315),NaN,NaN,NaN,NaN
A,R$^2$,NaN,0.639,NaN,NaN,NaN,NaN
A,Observations,NaN,1262,NaN,NaN,NaN,NaN
B,First Auction Price,NaN,5.873***,NaN,NaN,NaN,NaN

In [ ]:
table_series =pd.Series(table_string)
#tb_2 = table_series.str.split('\\\ \n')
#tb_2 = table_series.str.split('\\\\')
tb_2 = table_series.str.split('&')
#tb_2.to_dict()

In [ ]:
print(tb_2.values)

In [ ]:
df_table = pd.DataFrame({'table2':[tb_2.keys], 'table2_val':[tb_2.values]})
df_table.head()

In [ ]:
# df
df_string = pd.DataFrame({'table2':[table_string]})
#df['strip'] = df['table2'].str.strip()
#df['lstrip'] = df['table2'].str.lstrip()
#df['rstrip'] = df['table2'].str.rstrip()
df[[df[1]] = df['table2'].str.split('&', n=3, expand=True)
# = df['table2'].str.partition(sep='&')
df