--- 
Project for the course in Microeconometrics | Summer 2020, M.Sc. Economics, Bonn University | [Hyein Jeong](https://github.com/huiren-j)
# Replication of Decarolis, Francesco (2014)  <a class = "tocSkip">
---

---
# 1. Introduction
---

Decarolis examine the effect of the switch to first price sealed bid acutions(FPAs) for public procurement on performances using data from Italy. FPAs is known as a public procurement method with low cost and high transparency. Italy government switched their public procurement method from to FPAs occured between January 2000 to June 2006. However, the author argue that people miss some facts about FPAs. That is, high discounts at the awarding stage are obtained at the cost of excessviely favoring bidders might be problematic because in fact, the bidders are least likely to deliever what has been promised. Depending on the setup, this could mean a failure to respect the promised complement time, cost budget or work quality, all of which I will consider as measures of ex post contract performance.

Despite the vast theoretical literature, little is known about the empirical relevance of this trade-off.
The main results confirm that the switch to FPAs substantially lowers the wining price but that it also worsen performance.
The results are obtained through a Difference-in-Differences identification strategy which is applied seperately to two different large PAs that switched to FPAs in 2003:the County of Turin and the Municipality of Turin.
- Municipality of Turin: FPAs increased the winning discount by approximately 13 percent of the reserve price, cost overruns by 6 percent of the reserve price, and the delay in the completion time by 28 percent of the contractual length of the job.
- County of Turin: generated a smaller increase of the winning discount, in the order of 8 percent of the reserve price, and an increase in the extra cost and extra time that is one-third in terms of magnitude of that estimated for the Municipality of Turin, and not statistically significant.

An interesting finding of this study is that the difference in the effects of FPAs across the two PAs is related to how they screen bids for their reliability.
PAs might exclude the highest discount if the offer is judged “too good to be true.”
Using the number of days between when bids are opened and when the contract is awarded as a measure of screening intensity, I observe that in both PAs the switch to FPAs is associated with an increase of this variable.
This finding suggests the presence of a second trade-off.
However, there are two costs to screen bids.
1. a direct cost: ex, the cost of the engineers assessing the bid liability
2. an indirect cost: generated by the lessening of competition induced among bidders.
This paper appears to be the first to quantify its interplay with FPAs.

The Final Part
I analyze a more recent wave of reforms that temporarily expand the use of FPAs in Italy, but that were ultimately reversed.
The mandatory use of FPAs  for PAs reduces the winning price but also significantly increases the screening cost.
Hence, the effectiveness of a switch toward FPAs appears to crucially hinge on a separate institution, the ex post bid screening.

this paper presents nontrivial policy implications indicating that the benefits of adopting FPAs in procurement depends on the strength of the institutions ensuring that bids are enforceable.

# 1.1. Public Procurement System and Policy Changes

- A. The Italian Public Procurement System
    : With a few exceptions for military and strategic infrastructures, the procurement of contracts for the construction and maintenance of public works by all types of Italian Public Administration(PAs) occurs broadly under the same regulation. Contracts for public works can typically be procured exclusively through auctions based exclusively on price. Between 2000 and 2006, these auctions accounted for 79 percent of all procurements held and 82 percent of the total value of all contracts procured. As regards the auctions based only on price, two distinct mechanisms exist: first price auctions(FPA)and average bid auctions (ABA).
    - Detailed explations about auctions
        the process starts with a PA releasing a call for tenders that illustrates the contract characteristics, including the maximum price the PA is willing to pay (i.e., the reserveprice) and the procedure used (FPA or ABA). Then every firm qualified to bid for public contracts can submit its sealed bid, consisting of a discount over the reserve price.
        -> FPA: the highest “responsible discount” wins.
        -> ABA: the highest discount is always eliminated because there is a judgment of which discounts are not responsible is automated through an algorithm that discharges discounts greater than a kind of trim mean.
- B. Timing of the Reforms
    : In the period between January 2000 and June 2006, the regulation required the use of ABAs for all contracts with a reserve price below (approximately) €5 million. The European Union regulation mandates the use of FPAs for contract at or above this value.In January 2003, after a case of collusion in ABAs became public, the Municipality of Turin ruled to replace ABAs with FPAs for all contracts. Two months later, the same reform was followed by the County of Turin. Therefore, although the switch to FPAs is clearly not random, the fact that it occurred first in Turin and only years later in other similarPAs is due to causes unrelated to the effects of FPAs.

# 2. Theory Overview

**2.A. The Trade-Off between the Winning Bid and Performance**

FPAs lead the bidders into high competition. This results in high dicounts from the reserve price which means the government's maximum willingness to pay.
On the other hand, this high competitive environment yields unreliable discount level.Thus at the performance stage, the government could get low quality of perfomance by the winner as the trade-off low price.

**2.B. The Trade-Off between Performance and the Screening Cost**

To prevent low quality of performance, the government can induce ex post screeing procedure. However, the screening costs will occur instead of getting low quality of performance.

**2.C. The ABA and the Expected Effects of a Switch from ABA to FPA**

a switch from ABAs to FPAs should cause a decrease of th eprice at which the contract is awarded, a worsening of the measures of ex post performance, and an increase in bid screening.

# 3. Data

**3.A. Details about the Chosen Samples**

The Authority collects data on all contracts for public works,awarded between Jan 2000 and June 2006, with a reserve price above €150,000 procured by all PAs. However, I restrict my analysis to onlythe simplest types of public works (consisting mostly of roadwork construction and repair jobs), awarded through either ABAs or FPAs, having a reserve price between €300,000 and €5 million, auctioned off by either counties or municipalities located in five regions in the North (Piedmont, Lombardy, Veneto, Emilia, and Liguria).

These simple contracts are about a quarter of all the public works procured. Moreover, they are the most appropriate for the analysis of FPAs on winning bids because their reserve prices are comparable across PAs.

1. A key feature of the contracts that this paper handled with is that the PA is not in full control of the reserve price.
2. The PA engineers evaluate the types and quantities of inputs needed to complete a project. The RP is then obtained by these input* their prices, and summing up these products.
3. However, input prices are not the current market prices but list prices set every year for the respective regions and used exclusively by PAs to calculate reserve prices.
4. The similarity of these prices in the chosen regions(P,Lo,V,E,Li) helps the comparability of reserve prices.
5. Furthermore, at least in the case of simple roadwork jobs, it seems plausbile to assume that there is not too much discretion in the type and quantity of inputs to use. The tehnology of the work determines them. Since the geographical area of the chosen regions is rather homogeneous, similar roadwork jobs likely require the same types and quantities of inputs in all the PAs in the used sample.

- seperated by two period: Jan 2000 to Dec 2002 (reform in Turin) Jan 2003 to June 2006
- auctioneer: Municipality of Turin, County of Turin, Other PAs

**Table1. Descriptive Statistics**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from linearmodels import PanelOLS
import statsmodels.api as sm
import econtools as econ
import econtools.metrics as mt
from statsmodels.stats.outliers_influence import variance_inflation_factor

from auxiliary.prepare import *
from auxiliary.table2 import *
from auxiliary.table3 import *
from auxiliary.table4 import *
from auxiliary.table6 import *
from auxiliary.table_formula import *

In [2]:
data = pd.read_stata('data/Authority.dta')
print(data.shape)

(16127, 31)

In [3]:
df_1 = prepare_data(data)

(16127, 31)
(8105, 31)
(3004, 31)

In [4]:
presort_describe(df_1)

        discount                                                          \
           count       mean       std   min    25%        50%        75%
presort
1.0        121.0  17.071727  5.049077  7.47  12.62  17.430000  20.889999
2.0         63.0  17.323651  5.896641  4.25  15.44  16.870001  19.695001
3.0       1009.0  12.830377  6.167288  0.03   8.66  12.730000  16.830000

                   overrun_ratio            ... experience         \
               max         count      mean  ...        75%    max
presort                                     ...
1.0      30.620001          83.0  5.784887  ...      523.0  523.0
2.0      31.639999          45.0  6.864632  ...      416.0  416.0
3.0      50.000000         672.0  5.298975  ...      251.0  317.0

        fiscal_efficiency                                                    \
                    count      mean       std       min       25%       50%
presort
1.0                 121.0  0.750452  0.034800  0.671798  0.758353  0.758353
2.0                  63.0  0.884224  0.014775  0.870516  0.870516  0.870516
3.0                1009.0  0.813100  0.140129  0.461481  0.739721  0.847338


              75%       max
presort
1.0      0.773652  0.773652
2.0      0.902912  0.902912
3.0      0.922449  1.000000

[3 rows x 72 columns]

In [5]:
postsort_describe(df_1)

         discount                                                            \
            count       mean       std    min        25%        50%     75%
postsort
1.0         156.0  30.973949  9.836627   8.71  24.347499  30.940001  37.685
2.0         137.0  27.664752  7.243789  12.13  21.690001  27.770000  33.000
3.0         930.0  12.381971  5.444502   0.13   8.970000  12.520000  15.150

                    overrun_ratio             ... experience         \
                max         count       mean  ...        75%    max
postsort                                      ...
1.0       52.150002          79.0  13.935719  ...      523.0  523.0
2.0       51.599998          62.0   6.666302  ...      416.0  416.0
3.0       35.990002         665.0   7.991725  ...      240.0  307.0

         fiscal_efficiency                                                    \
                     count      mean       std       min       25%       50%
postsort
1.0                  156.0  0.805913  0.039568  0.671798  0.791832  0.825569
2.0                  137.0  0.866495  0.032360  0.810613  0.832668  0.887880
3.0                  930.0  0.866218  0.091848  0.679900  0.782221  0.879968


               75%       max
postsort
1.0       0.826786  0.826786
2.0       0.891809  0.891809
3.0       0.936850  1.000000

[3 rows x 72 columns]

In [6]:
#data for table2,3,5,6
df = basic_setting(data)

In [7]:
#table2_regression
col1 = table2_col1(df)
col2 = table2_col2(df)
col3 = table2_col3(df)
col4 = table2_col4(df)
col5 = table2_col5(df)
col6 = table2_col6(df)

#table2
table2 = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
reg_tab( col1, table2, 1)
reg_tab( col2, table2, 2)
reg_tab( col3, table2, 3)
reg_tab( col4, table2, 4)
reg_tab( col5, table2, 5)
reg_tab( col6, table2, 6)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    13.10***      11.99***      13.32***
      Standard Error         (1.61)        (1.32)        (1.77)
      R$^2$                  0.505         0.639         0.493
      Observations           1262          1262          1275
B     First Auction Price    7.20***       5.87***       5.14**
      Standard Error         (1.99)        (2.05)        (2.16)
      R$^2$                  0.111         0.156         0.185
      Observations           1092          1092          1049
C     First Auction Price    25.23**       34.18***      19.36*
      Standard Error         (12.05)       (12.13)       (9.81)
      R$^2$                  0.085         0.122         0.111
      Observations           1110          1110          1084
D     First Auction Price   28.70***      26.23**       27.29**
      Standard Error        (10.78)       (11.18)       (10.50)
      R$^2$                 0.554         0.566         0.531
      Observations          777           777           777

                             Control(4)    Control(5)    Control(6)
Panel value_title
A     First Auction Price    12.02***      13.71***      12.26***
      Standard Error         (1.47)        (1.72)        (1.38)
      R$^2$                  0.614         0.526         0.644
      Observations           1275          880           880
B     First Auction Price    4.33**        7.25***       5.71**
      Standard Error         (2.13)        (2.23)        (2.20)
      R$^2$                  0.214         0.160         0.221
      Observations           1049          742           742
C     First Auction Price    27.98***      27.73**       39.28***
      Standard Error         (10.14)       (10.78)       (12.00)
      R$^2$                  0.148         0.095         0.147
      Observations           1084          747           747
D     First Auction Price   23.54**       34.05***      33.04**
      Standard Error        (11.64)       (11.72)       (14.40)
      R$^2$                 0.547         0.546         0.565
      Observations          777           549           549

In [8]:
#table3
#calculation
col1 = table3_col1(df)
col2 = table3_col2(df)
col3 = table3_col3(df)
col4 = table3_col4(df)
col5 = table3_col5(df)
col6 = table3_col6(df)

#table
table3 = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
reg_tab( col1, table3, 1)
reg_tab( col2, table3, 2)
reg_tab( col3, table3, 3)
reg_tab( col4, table3, 4)
reg_tab( col5, table2, 5)
reg_tab( col6, table2, 6)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    13.10***      11.99***      13.32***
      Standard Error         (1.61)        (1.32)        (1.77)
      R$^2$                  0.505         0.639         0.493
      Observations           1262          1262          1275
B     First Auction Price    7.20***       5.87***       5.14**
      Standard Error         (1.99)        (2.05)        (2.16)
      R$^2$                  0.111         0.156         0.185
      Observations           1092          1092          1049
C     First Auction Price    25.23**       34.18***      19.36*
      Standard Error         (12.05)       (12.13)       (9.81)
      R$^2$                  0.085         0.122         0.111
      Observations           1110          1110          1084
D     First Auction Price   28.70***      26.23**       27.29**
      Standard Error        (10.78)       (11.18)       (10.50)
      R$^2$                 0.554         0.566         0.531
      Observations          777           777           777

                             Control(4)    Control(5)    Control(6)
Panel value_title
A     First Auction Price    12.02***      8.78***       8.66***
      Standard Error         (1.47)        (1.33)        (1.10)
      R$^2$                  0.614         0.553         0.675
      Observations           1275          567           567
B     First Auction Price    4.33**        1.58          0.56
      Standard Error         (2.13)        (3.18)        (3.25)
      R$^2$                  0.214         0.156         0.193
      Observations           1049          454           454
C     First Auction Price    27.98***      10.36         9.59
      Standard Error         (10.14)       (17.65)       (20.00)
      R$^2$                  0.148         0.067         0.106
      Observations           1084          498           498
D     First Auction Price   23.54**       53.53***      59.33***
      Standard Error        (11.64)       (8.82)        (9.40)
      R$^2$                 0.547         0.428         0.473
      Observations          777           386           386

**3.B. The Dependent Variables**

1. Winning Discount
2. Performance
    - used two proxies of performance: cost overruns and time delays
    - cost overruns: the diff btw the final payment and the winning bid as a percentage of the reserve price
    - time delays: the diff btw the actual and the contractual time as a percentage of the contractual time
    - each will be referred to as *Extra Cost* and *Extra Time*
3. Screening Cost
    - the diff in days btw =n when the bids are opned by the awarding commission and when the PA announces the identity of the winner
    - consist of indirect costs  of slowing the procurement process and generating transaction costs
    - referred to as *Days to Award*
    - Screening: the engineers of the PA review the bids and ask bidders to justify the prices they offered.

# 4. Empirical Analysis

**4.A. Empirical Strategy**

The methology will be analogous to a difference-in-differences(DD) regression exploiting the difference in the timing with which Turin adopted FPAs relative to other PAs. The only differences are due to some features on the pretreatment regime.

\begin{align*}
Y_{ist} = a_s + b_t + cX_{ist} + \beta FPA_{st} + \epsilon_{ist}
\end{align*}

- i = the auction
- s = the PA
- t = the year
- beta = the coefficient of interest, dummy; the effect of FPAs on the dependent variable equal to one
- a_s = condtional on fixed effects for the PA
- b_t = condtional on fixed effects for time
- X = other covariates

- The two main challenges to interpret beta  
(1) the treated PAs are not randomly assigend to the FPA but switch to it voluntarily  
(2) features of the pretreatment regime, which matter for both the construction of the DD estimator and for the interpretation of the estimates.

* Assumptions to defining the control group for DD analysis  
(1) The essential randomness that the switch observed in 2003 occurred in Turin and not in another one of the PAs that would have abandoned the ABA had the central government not challenged the Turin reform.  
(2) We can reasonably infer which PAs would have switched together with Turin if so allowed.

**4.B. Effects of the FPA on Price, Performance, and Bids Screening**

Table (2) and (3) : The DD estimates for the Municipality of Turin and the County of Turin

In [1]:
from econtools import read, outreg, table_statrow, write_notes
from pylatex import Document, Section, Subsection, Tabular, Math, TikZ, Axis, \
    Plot, Figure, Matrix, Alignat
from pylatex.utils import italic
import os

\documentclass{article}

\usepackage{threeparttable}
\usepackage{booktabs}

\begin{document}

\begin{table}
    \centering
    \caption{Two Wage Regressions}\label{tab:wage-reg}
    \begin{threeparttable}
    \begin{tabular}{lcc}
        \toprule
         & (1) & (2) \\
        \midrule
        \input{my_result}  % The table fragment
        \bottomrule
    \end{tabular}
    \end{threeparttable}
\end{table}

\end{document}

In [3]:
with open('my_result.tex','r') as f:
    f.read()

- Table(2) M of Turin: Four panels(the winning discount, the cost overrun, the time delay, the number of days taken to award the contract)  
Within each pannel, the reulst of six regressions are reported
* the switch from ABAs to FPAs is associated with a large and statistically significant increase in the winning discount(12-14% of the RP)
* but because of ex post renegotiation, PA lost between one third and one half of its saving.

- Table(3) C of Turin

**4.C. Robustness Checks**

1) the presence of common time trends among the treated and control groups(table4)  
-> augmenting the models of Table2 and 3 with PA-specific, time-varying variables.

In [9]:
df_4 = table4_setting(df)

In [10]:
#table4 Calculation
table4_A1 = table4_PanelA_odd(df_4)
table4_A2 = table4_PanelA_even(df_4)
table4_B1 = table4_PanelB_odd(df_4)
table4_B2 = table4_PanelB_even(df_4)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

In [17]:
#table4 panelA
table4(table4_A1, table4_A2,tab4)

,value_title,W.Discount(1),W.Discount(2),Extra Cost(3),Extra Cost(4),Extra Time(5),Extra Time(6),Days Award(7),Days Award(8)
0,First Auction Price,12.178***,6.136***,32.425**,5.323,5.987***,-0.821,30.511***,25.438
4,Standard Error,(1.329),(1.305),(12.670),(28.383),(1.937),(3.583),(11.212),(22.608)
8,R$^2$,0.639,0.651,0.122,0.135,0.156,0.170,0.568,0.597
12,Observations,1262,1262,1110,1110,1092,1092,777,777

In [18]:
#table4 Panel B
table4(table4_B1,table4_B2,tab4)

,value_title,W.Discount(1),W.Discount(2),Extra Cost(3),Extra Cost(4),Extra Time(5),Extra Time(6),Days Award(7),Days Award(8)
0,First Auction Price,8.705***,7.564***,11.203,-1.422,0.294,-0.398,36.449***,26.305***
4,Standard Error,(1.086),(0.884),(18.748),(19.315),(3.587),(3.408),(8.347),(9.110)
8,R$^2$,0.579,0.592,0.126,0.140,0.149,0.174,0.410,0.466
12,Observations,1355,1355,1206,1206,1167,1167,817,817

2) The standard errors used to conduct inference about the effect of FPAs.(table5)  
-> criticism: errors autocorrelation -> the PA-year level clustering to produce statistical significance when sig is in fact absent, requires assessing whether the estimate of beta remains significant once standard errors are clustered at PA level.

3) The presence of a sample selection bias(table6)

# 5. Discussion and Policy Implication

The previous finding suggest that reforms towards FPAs can be successful only if their design carefully accounts for the features of the institutions ensuring bids reliability, which include financial guarantees, ex ante prequalification, and ex post screening.  
The final cost of the project under FPAs in M of Turin and C of Turin declines by approximately 8 percent of the original RP(80,000euro - 100,000euro)  
This amount of saving is high enough to compensate for the increased cost of bid screening and for the possible presence cost of transaction costs associated with contract renegotiation.

# 6. Conclusion