--- 
Project for the course in Microeconometrics | Summer 2020, M.Sc. Economics, Bonn University | [Hyein Jeong](https://github.com/huiren-j)
# Replication of Decarolis, Francesco (2014)  <a class = "tocSkip">
---

---
# 1. Introduction
---

Decarolis examine the effect of the switch to first price sealed bid acutions(FPAs) for public procurement on performances using data from Italy. FPAs is known as a public procurement method with low cost and high transparency. Italy government switched their public procurement method from to FPAs occured between January 2000 to June 2006. However, the author argue that people miss some facts about FPAs. That is, high discounts at the awarding stage are obtained at the cost of excessviely favoring bidders might be problematic because in fact, the bidders are least likely to deliever what has been promised. Depending on the setup, this could mean a failure to respect the promised complement time, cost budget or work quality, all of which I will consider as measures of ex post contract performance.

Despite the vast theoretical literature, little is known about the empirical relevance of this trade-off.
The main results confirm that the switch to FPAs substantially lowers the wining price but that it also worsen performance.
The results are obtained through a Difference-in-Differences identification strategy which is applied seperately to two different large PAs that switched to FPAs in 2003:the County of Turin and the Municipality of Turin.
- Municipality of Turin: FPAs increased the winning discount by approximately 13 percent of the reserve price, cost overruns by 6 percent of the reserve price, and the delay in the completion time by 28 percent of the contractual length of the job.
- County of Turin: generated a smaller increase of the winning discount, in the order of 8 percent of the reserve price, and an increase in the extra cost and extra time that is one-third in terms of magnitude of that estimated for the Municipality of Turin, and not statistically significant.

An interesting finding of this study is that the difference in the effects of FPAs across the two PAs is related to how they screen bids for their reliability.
PAs might exclude the highest discount if the offer is judged “too good to be true.”
Using the number of days between when bids are opened and when the contract is awarded as a measure of screening intensity, I observe that in both PAs the switch to FPAs is associated with an increase of this variable.
This finding suggests the presence of a second trade-off.
However, there are two costs to screen bids.
1. a direct cost: ex, the cost of the engineers assessing the bid liability
2. an indirect cost: generated by the lessening of competition induced among bidders.
This paper appears to be the first to quantify its interplay with FPAs.

The Final Part
I analyze a more recent wave of reforms that temporarily expand the use of FPAs in Italy, but that were ultimately reversed.
The mandatory use of FPAs  for PAs reduces the winning price but also significantly increases the screening cost.
Hence, the effectiveness of a switch toward FPAs appears to crucially hinge on a separate institution, the ex post bid screening.

this paper presents nontrivial policy implications indicating that the benefits of adopting FPAs in procurement depends on the strength of the institutions ensuring that bids are enforceable.

# 1.1. Public Procurement System and Policy Changes

- A. The Italian Public Procurement System
    : With a few exceptions for military and strategic infrastructures, the procurement of contracts for the construction and maintenance of public works by all types of Italian Public Administration(PAs) occurs broadly under the same regulation. Contracts for public works can typically be procured exclusively through auctions based exclusively on price. Between 2000 and 2006, these auctions accounted for 79 percent of all procurements held and 82 percent of the total value of all contracts procured. As regards the auctions based only on price, two distinct mechanisms exist: first price auctions(FPA)and average bid auctions (ABA).
    - Detailed explations about auctions
        the process starts with a PA releasing a call for tenders that illustrates the contract characteristics, including the maximum price the PA is willing to pay (i.e., the reserveprice) and the procedure used (FPA or ABA). Then every firm qualified to bid for public contracts can submit its sealed bid, consisting of a discount over the reserve price.
        -> FPA: the highest “responsible discount” wins.
        -> ABA: the highest discount is always eliminated because there is a judgment of which discounts are not responsible is automated through an algorithm that discharges discounts greater than a kind of trim mean.
- B. Timing of the Reforms
    : In the period between January 2000 and June 2006, the regulation required the use of ABAs for all contracts with a reserve price below (approximately) €5 million. The European Union regulation mandates the use of FPAs for contract at or above this value.In January 2003, after a case of collusion in ABAs became public, the Municipality of Turin ruled to replace ABAs with FPAs for all contracts. Two months later, the same reform was followed by the County of Turin. Therefore, although the switch to FPAs is clearly not random, the fact that it occurred first in Turin and only years later in other similarPAs is due to causes unrelated to the effects of FPAs.

# 2. Theory Overview

**2.A. The Trade-Off between the Winning Bid and Performance**

FPAs lead the bidders into high competition. This results in high dicounts from the reserve price which means the government's maximum willingness to pay.
On the other hand, this high competitive environment yields unreliable discount level.Thus at the performance stage, the government could get low quality of perfomance by the winner as the trade-off low price.

**2.B. The Trade-Off between Performance and the Screening Cost**

To prevent low quality of performance, the government can induce ex post screeing procedure. However, the screening costs will occur instead of getting low quality of performance.

**2.C. The ABA and the Expected Effects of a Switch from ABA to FPA**

a switch from ABAs to FPAs should cause a decrease of th eprice at which the contract is awarded, a worsening of the measures of ex post performance, and an increase in bid screening.

# 3. Data

**3.A. Details about the Chosen Samples**

The Authority collects data on all contracts for public works,awarded between Jan 2000 and June 2006, with a reserve price above €150,000 procured by all PAs. However, I restrict my analysis to onlythe simplest types of public works (consisting mostly of roadwork construction and repair jobs), awarded through either ABAs or FPAs, having a reserve price between €300,000 and €5 million, auctioned off by either counties or municipalities located in five regions in the North (Piedmont, Lombardy, Veneto, Emilia, and Liguria).

These simple contracts are about a quarter of all the public works procured. Moreover, they are the most appropriate for the analysis of FPAs on winning bids because their reserve prices are comparable across PAs.

1. A key feature of the contracts that this paper handled with is that the PA is not in full control of the reserve price.
2. The PA engineers evaluate the types and quantities of inputs needed to complete a project. The RP is then obtained by these input* their prices, and summing up these products.
3. However, input prices are not the current market prices but list prices set every year for the respective regions and used exclusively by PAs to calculate reserve prices.
4. The similarity of these prices in the chosen regions(P,Lo,V,E,Li) helps the comparability of reserve prices.
5. Furthermore, at least in the case of simple roadwork jobs, it seems plausbile to assume that there is not too much discretion in the type and quantity of inputs to use. The tehnology of the work determines them. Since the geographical area of the chosen regions is rather homogeneous, similar roadwork jobs likely require the same types and quantities of inputs in all the PAs in the used sample.

- seperated by two period: Jan 2000 to Dec 2002 (reform in Turin) Jan 2003 to June 2006
- auctioneer: Municipality of Turin, County of Turin, Other PAs

**Table1. Descriptive Statistics**

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
from linearmodels import PanelOLS
import statsmodels.api as sm
import econtools as econ
import econtools.metrics as mt
from statsmodels.stats.outliers_influence import variance_inflation_factor

from auxiliary.prepare import *
from auxiliary.table2 import *
from auxiliary.table3 import *
from auxiliary.table4 import *
from auxiliary.table6 import *
from auxiliary.table_formula import *

In [2]:
data = pd.read_stata('data/Authority.dta')
print(data.shape)

(16127, 31)

In [3]:
df_1 = prepare_data(data)

(16127, 31)
(8105, 31)
(3004, 31)

In [4]:
presort_describe(df_1)

        discount                                                          \
           count       mean       std   min    25%        50%        75%
presort
1.0        121.0  17.071727  5.049077  7.47  12.62  17.430000  20.889999
2.0         63.0  17.323651  5.896641  4.25  15.44  16.870001  19.695001
3.0       1009.0  12.830377  6.167288  0.03   8.66  12.730000  16.830000

                   overrun_ratio            ... experience         \
               max         count      mean  ...        75%    max
presort                                     ...
1.0      30.620001          83.0  5.784887  ...      523.0  523.0
2.0      31.639999          45.0  6.864632  ...      416.0  416.0
3.0      50.000000         672.0  5.298975  ...      251.0  317.0

        fiscal_efficiency                                                    \
                    count      mean       std       min       25%       50%
presort
1.0                 121.0  0.750452  0.034800  0.671798  0.758353  0.758353
2.0                  63.0  0.884224  0.014775  0.870516  0.870516  0.870516
3.0                1009.0  0.813100  0.140129  0.461481  0.739721  0.847338


              75%       max
presort
1.0      0.773652  0.773652
2.0      0.902912  0.902912
3.0      0.922449  1.000000

[3 rows x 72 columns]

In [5]:
postsort_describe(df_1)

         discount                                                            \
            count       mean       std    min        25%        50%     75%
postsort
1.0         156.0  30.973949  9.836627   8.71  24.347499  30.940001  37.685
2.0         137.0  27.664752  7.243789  12.13  21.690001  27.770000  33.000
3.0         930.0  12.381971  5.444502   0.13   8.970000  12.520000  15.150

                    overrun_ratio             ... experience         \
                max         count       mean  ...        75%    max
postsort                                      ...
1.0       52.150002          79.0  13.935719  ...      523.0  523.0
2.0       51.599998          62.0   6.666302  ...      416.0  416.0
3.0       35.990002         665.0   7.991725  ...      240.0  307.0

         fiscal_efficiency                                                    \
                     count      mean       std       min       25%       50%
postsort
1.0                  156.0  0.805913  0.039568  0.671798  0.791832  0.825569
2.0                  137.0  0.866495  0.032360  0.810613  0.832668  0.887880
3.0                  930.0  0.866218  0.091848  0.679900  0.782221  0.879968


               75%       max
postsort
1.0       0.826786  0.826786
2.0       0.891809  0.891809
3.0       0.936850  1.000000

[3 rows x 72 columns]

In [6]:
#data for table2,3,5,6
df = basic_setting(data)

In [7]:
#multicolinearity function
def calc_vif(X):

    # Calculating VIF
    vif = pd.DataFrame()
    vif["variables"] = X.columns
    vif["VIF"] = [variance_inflation_factor(X.values, i) for i in range(X.shape[1])]

    return(vif)

In [8]:
#table2_regression
col1 = table2_col1(df)
col2 = table2_col2(df)
col3 = table2_col3(df)
col4 = table2_col4(df)
col5 = table2_col5(df)
col6 = table2_col6(df)

#table2
table2 = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
reg_tab( col1, table2, 1)
reg_tab( col2, table2, 2)
reg_tab( col3, table2, 3)
reg_tab( col4, table2, 4)
reg_tab( col5, table2, 5)
reg_tab( col6, table2, 6)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    13.10***      11.99***      13.32***
      Standard Error         (1.61)        (1.32)        (1.77)
      R$^2$                  0.505         0.639         0.493
      Observations           1262          1262          1275
B     First Auction Price    7.20***       5.87***       5.14**
      Standard Error         (1.99)        (2.05)        (2.16)
      R$^2$                  0.111         0.156         0.185
      Observations           1092          1092          1049
C     First Auction Price    25.23**       34.18***      19.36*
      Standard Error         (12.05)       (12.13)       (9.81)
      R$^2$                  0.085         0.122         0.111
      Observations           1110          1110          1084
D     First Auction Price   28.70***      26.23**       27.29**
      Standard Error        (10.78)       (11.18)       (10.50)
      R$^2$                 0.554         0.566         0.531
      Observations          777           777           777

                             Control(4)    Control(5)    Control(6)
Panel value_title
A     First Auction Price    12.02***      13.71***      12.26***
      Standard Error         (1.47)        (1.72)        (1.38)
      R$^2$                  0.614         0.526         0.644
      Observations           1275          880           880
B     First Auction Price    4.33**        7.25***       5.71**
      Standard Error         (2.13)        (2.23)        (2.20)
      R$^2$                  0.214         0.160         0.221
      Observations           1049          742           742
C     First Auction Price    27.98***      27.73**       39.28***
      Standard Error         (10.14)       (10.78)       (12.00)
      R$^2$                  0.148         0.095         0.147
      Observations           1084          747           747
D     First Auction Price   23.54**       34.05***      33.04**
      Standard Error        (11.64)       (11.72)       (14.40)
      R$^2$                 0.547         0.546         0.565
      Observations          777           549           549

In [11]:
#table3
#calculation
col1 = table3_col1(df)
col2 = table3_col2(df)
col3 = table3_col3(df)
col4 = table3_col4(df)
#col5 = table3_col5(df)
#col6 = table3_col6(df)

#table
table3 = pd.DataFrame({ 'Panel':[], 'value_title':[],'Control(1)':[],'Control(2)':[],'Control(3)':[],'Control(4)':[],'Control(5)':[],'Control(6)':[]})
reg_tab( col1, table3, 1)
reg_tab( col2, table3, 2)
reg_tab( col3, table3, 3)
reg_tab( col4, table3, 4)
#reg_tab( col5, table2, 5)
#reg_tab( col6, table2, 6)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    8.65***       8.69***       8.58***
      Standard Error         (1.15)        (1.10)        (1.31)
      R$^2$                  0.419         0.579         0.544
      Observations           1355          1355          653
B     First Auction Price    0.04          0.20          1.01
      Standard Error         (3.29)        (3.55)        (3.19)
      R$^2$                  0.120         0.149         0.155
      Observations           1167          1167          517
C     First Auction Price    12.95         10.76         9.69
      Standard Error         (17.84)       (18.72)       (16.12)
      R$^2$                  0.089         0.126         0.065
      Observations           1206          1206          560
D     First Auction Price   35.02***      37.49***      48.00***
      Standard Error        (7.86)        (8.30)        (6.99)
      R$^2$                 0.383         0.409         0.390
      Observations          817           817           443

                             Control(4)  Control(5)  Control(6)
Panel value_title
A     First Auction Price    8.29***            NaN         NaN
      Standard Error         (1.17)             NaN         NaN
      R$^2$                  0.671              NaN         NaN
      Observations           653                NaN         NaN
B     First Auction Price    0.66               NaN         NaN
      Standard Error         (3.23)             NaN         NaN
      R$^2$                  0.188              NaN         NaN
      Observations           517                NaN         NaN
C     First Auction Price    7.99               NaN         NaN
      Standard Error         (18.27)            NaN         NaN
      R$^2$                  0.106              NaN         NaN
      Observations           560                NaN         NaN
D     First Auction Price   53.45***            NaN         NaN
      Standard Error        (7.87)              NaN         NaN
      R$^2$                 0.434               NaN         NaN
      Observations          443                 NaN         NaN

**3.B. The Dependent Variables**

1. Winning Discount
2. Performance
    - used two proxies of performance: cost overruns and time delays
    - cost overruns: the diff btw the final payment and the winning bid as a percentage of the reserve price
    - time delays: the diff btw the actual and the contractual time as a percentage of the contractual time
    - each will be referred to as *Extra Cost* and *Extra Time*
3. Screening Cost
    - the diff in days btw =n when the bids are opned by the awarding commission and when the PA announces the identity of the winner
    - consist of indirect costs  of slowing the procurement process and generating transaction costs
    - referred to as *Days to Award*
    - Screening: the engineers of the PA review the bids and ask bidders to justify the prices they offered.

# 4. Empirical Analysis

**4.A. Empirical Strategy**

The methology will be analogous to a difference-in-differences(DD) regression exploiting the difference in the timing with which Turin adopted FPAs relative to other PAs. The only differences are due to some features on the pretreatment regime.

\begin{align*}
Y_{ist} = a_s + b_t + cX_{ist} + \beta FPA_{st} + \epsilon_{ist}
\end{align*}

- i = the auction
- s = the PA
- t = the year
- beta = the coefficient of interest, dummy; the effect of FPAs on the dependent variable equal to one
- a_s = condtional on fixed effects for the PA
- b_t = condtional on fixed effects for time
- X = other covariates

- The two main challenges to interpret beta  
(1) the treated PAs are not randomly assigend to the FPA but switch to it voluntarily  
(2) features of the pretreatment regime, which matter for both the construction of the DD estimator and for the interpretation of the estimates.

* Assumptions to defining the control group for DD analysis  
(1) The essential randomness that the switch observed in 2003 occurred in Turin and not in another one of the PAs that would have abandoned the ABA had the central government not challenged the Turin reform.  
(2) We can reasonably infer which PAs would have switched together with Turin if so allowed.

**4.B. Effects of the FPA on Price, Performance, and Bids Screening**

Table (2) and (3) : The DD estimates for the Municipality of Turin and the County of Turin

In [1]:
from econtools import read, outreg, table_statrow, write_notes
from pylatex import Document, Section, Subsection, Tabular, Math, TikZ, Axis, \
    Plot, Figure, Matrix, Alignat
from pylatex.utils import italic
import os

\documentclass{article}

\usepackage{threeparttable}
\usepackage{booktabs}

\begin{document}

\begin{table}
    \centering
    \caption{Two Wage Regressions}\label{tab:wage-reg}
    \begin{threeparttable}
    \begin{tabular}{lcc}
        \toprule
         & (1) & (2) \\
        \midrule
        \input{my_result}  % The table fragment
        \bottomrule
    \end{tabular}
    \end{threeparttable}
\end{table}

\end{document}

In [3]:
with open('my_result.tex','r') as f:
    f.read()

- Table(2) M of Turin: Four panels(the winning discount, the cost overrun, the time delay, the number of days taken to award the contract)  
Within each pannel, the reulst of six regressions are reported
* the switch from ABAs to FPAs is associated with a large and statistically significant increase in the winning discount(12-14% of the RP)
* but because of ex post renegotiation, PA lost between one third and one half of its saving.

- Table(3) C of Turin

**4.C. Robustness Checks**

1) the presence of common time trends among the treated and control groups(table4)  
-> augmenting the models of Table2 and 3 with PA-specific, time-varying variables.

In [31]:
#table4 setting
def table4_setting(data):
    
    df = data
    auth_list = df['authority_code'].unique()
    
    for i in range(len(auth_list)):
        name = 'trend_pa_'+str(i+1)
        df[name] = 0
        df.loc[(df['authority_code']==3090272)| (df['authority_code']==3070001), name]
        for j in range(len(df)):
            if df.loc[j, 'id_auth'] == i+1 :
                df.loc[j, name] = df.loc[j,'trend']

    return(df)

In [33]:
df_4 = table4_setting(df)

In [55]:
def table4_PanelB_even(data):
    df = data
    outcome = ['discount', 'delay_ratio', 'overrun_ratio', 'days_to_award']
    t = 'turin_pr_sample'
    work_list = df['work_category'].unique()
    year_list = df['year'].unique()
    
    for o in outcome:
        df_reg_co = df[(df['turin_pr_sample']==1)&(df['ctrl_exp_turin_pr_sample']==1)&(df['post_experience']>= 5) & (df['pre_experience']>=5) &(df['post_experience'].isnull() == False ) & (df['pre_experience'].isnull()==False)&
                       (df['missing']==0)]

        #first, make a column list
        reg_col = ['trend_pa_2','trend_pa_3','trend_pa_5','trend_pa_8','trend_pa_15','trend_pa_19','trend_pa_24','trend_pa_29','trend_pa_33','trend_pa_585','trend_pa_1231',
                  'trend_pa_1480', 'trend_pa_1690','trend_pa_1721','trend_pa_1749','trend_pa_1839']
        for i in work_list:
            reg_col.append(i)
        for j in year_list:
            reg_col.append(j)
        exog_var = ['fpsb_auction','reserve_price','municipality','trend','trend_treat']
        exog = exog_var + reg_col 


        #check multicollinearity
        X = df_reg_co.loc[:,exog]
        vif = calc_vif(X)

        #delete from col list
        for i in range(len(vif)):
            if np.isnan(vif.loc[i, 'VIF']) == True:
                reg_col.remove(vif.loc[i, 'variables'])
            elif vif.loc[i,'VIF'] > 10:
                for j in exog_var:
                    if str(vif.loc[i,'variables']) is j and vif.loc[i,'variables'] is not 'fpsb_auction' and vif.loc[i,'variables'] is not 'id_auth':
                        exog_var.remove(vif.loc[i,'variables'])

        exog = exog_var + reg_col

        exog.remove(2000)
        exog.remove('OG01')
        exog.remove('municipality')

        if o == 'discount':
            fe_reg_discount = mt.reg(df_reg_co, o , exog, fe_name = 'authority_code', cluster = 'auth_anno',addcons = True,check_colinear = True)
    
        elif o == 'delay_ratio':
            exog.remove('OG09')
            fe_reg_delay = mt.reg(df_reg_co, o , exog, fe_name = 'authority_code', cluster = 'auth_anno',addcons = True,check_colinear = True)

        elif o == 'overrun_ratio':
            exog.remove('OS07')#cost
            exog.remove('OS09')#cost
            fe_reg_overrun = mt.reg(df_reg_co, o , exog, fe_name = 'authority_code', cluster = 'auth_anno',addcons = True,check_colinear = True)

        elif o == 'days_to_award':
            exog.remove('OG04')
            exog.remove('OS05')
            exog.remove('OS11')
            exog.remove('OS26')
            fe_reg_award = mt.reg(df_reg_co, o , exog, fe_name = 'authority_code', cluster = 'auth_anno',addcons = True,check_colinear = True)
        
    fe_reg = (fe_reg_discount, fe_reg_delay, fe_reg_overrun, fe_reg_award )
    return(fe_reg)

In [56]:
table4_A1 = table4_PanelA_odd(df_4)
table4_A2 = table4_PanelA_even(df_4)
table4_B1 = table4_PanelB_odd(df_4)
table4_B2 = table4_PanelB_even(df_4)

(=======================================================
 Dependent variable:	discount
 N:			1355
 R-squared:		0.5915
 Estimation method:	OLS
 VCE method:		Cluster
   Cluster variable:	  auth_anno
   No. of clusters:	  120
 Fixed effects by:	authority_code
   No. of FE:		  18
 =======================================================
                coeff    se       t   p>t  CI_low CI_high
 fpsb_auction   7.564 0.884   8.552 0.000   5.813   9.315
 reserve_price  0.000 0.000   8.537 0.000   0.000   0.000
 trend_pa_2    -0.942 1.455  -0.648 0.518  -3.824   1.939
 trend_pa_3     0.168 0.651   0.258 0.797  -1.121   1.457
 trend_pa_5    -1.526 0.305  -5.006 0.000  -2.129  -0.922
 trend_pa_8    -0.500 0.579  -0.864 0.390  -1.647   0.647
 trend_pa_15   -0.949 0.330  -2.876 0.005  -1.603  -0.296
 trend_pa_19    0.335 0.372   0.899 0.370  -0.403   1.072
 trend_pa_24   -0.436 0.276  -1.582 0.116  -0.982   0.110
 trend_pa_29   -0.615 0.713  -0.863 0.390  -2.028   0.797
 trend_pa_33    0.165 0.266   0.619 0.537  -0.362   0.691
 trend_pa_585  -0.122 0.566  -0.215 0.830  -1.243   0.999
 trend_pa_1231  0.144 0.341   0.424 0.673  -0.530   0.819
 trend_pa_1480 -2.009 0.467  -4.299 0.000  -2.934  -1.083
 trend_pa_1690  0.291 0.309   0.941 0.349  -0.321   0.904
 trend_pa_1721 -0.358 0.307  -1.167 0.245  -0.965   0.249
 trend_pa_1749 -0.429 0.251  -1.707 0.090  -0.926   0.069
 trend_pa_1839 -0.804 0.269  -2.992 0.003  -1.337  -0.272
 OG03          -1.305 0.416  -3.134 0.002  -2.130  -0.481
 OS28           3.487 1.182   2.948 0.004   1.145   5.828
 OS10          13.526 1.634   8.279 0.000  10.291  16.762
 OG08           3.176 1.983   1.602 0.112  -0.750   7.102
 OS06           1.898 0.882   2.151 0.033   0.151   3.645
 OG11           5.052 0.872   5.792 0.000   3.325   6.779
 OS30           8.616 1.661   5.187 0.000   5.327  11.906
 OG02          -0.955 0.596  -1.602 0.112  -2.135   0.225
 OS12          10.865 2.801   3.879 0.000   5.319  16.410
 OS02           8.654 1.141   7.586 0.000   6.395  10.913
 OS24          -3.202 1.405  -2.279 0.024  -5.983  -0.420
 OG12           4.506 2.411   1.869 0.064  -0.268   9.280
 OS01          -2.000 1.223  -1.636 0.104  -4.421   0.420
 OS08           4.538 3.090   1.468 0.145  -1.581  10.657
 OS07           1.681 0.828   2.031 0.044   0.042   3.319
 OS21           5.574 2.815   1.980 0.050  -0.000  11.148
 OG10           7.860 0.562  13.996 0.000   6.748   8.972
 OS22          -0.050 1.751  -0.028 0.977  -3.517   3.418
 OG06          -0.272 0.700  -0.389 0.698  -1.657   1.113
 OG07           1.963 3.455   0.568 0.571  -4.877   8.804
 OS19           0.996 1.849   0.539 0.591  -2.665   4.658
 OS18          -1.436 2.154  -0.667 0.506  -5.702   2.829
 OS34          11.485 3.023   3.799 0.000   5.498  17.471
 OS26           0.134 0.638   0.210 0.834  -1.130   1.398
 OS11          -6.604 0.573 -11.535 0.000  -7.738  -5.470
 OG04          -5.777 3.628  -1.592 0.114 -12.960   1.407
 OG13          -2.770 0.727  -3.808 0.000  -4.210  -1.329
 OS09           5.115 0.603   8.484 0.000   3.921   6.309
 OS13          -3.680 0.603  -6.107 0.000  -4.874  -2.487
 OS23          -2.576 0.897  -2.872 0.005  -4.352  -0.800
 OG09           2.432 0.721   3.373 0.001   1.005   3.860
 OS14           3.274 0.697   4.698 0.000   1.894   4.654
 OS05           4.337 0.984   4.406 0.000   2.388   6.286
 2006.0         5.725 1.650   3.470 0.001   2.458   8.991
 2003.0        -0.008 1.177  -0.007 0.994  -2.338   2.321
 2001.0         0.933 0.845   1.104 0.272  -0.740   2.606
 2002.0         0.220 0.942   0.234 0.816  -1.645   2.085
 2005.0         4.663 1.428   3.265 0.001   1.835   7.490
 2004.0         2.414 1.247   1.936 0.055  -0.055   4.883
 =======================================================,
 =======================================================
 Dependent variable:	delay_ratio
 N:			1206
 R-squared:		0.1405
 Estimation method:	OLS
 VCE method:		Cluster
   Cluster variable:	  auth_anno
   No. of clusters:	  117
 Fixed effects by:	authority_code
   No. of FE:		  18
 =======================================================
                 coeff     se      t   p>t   CI_low CI_high
 fpsb_auction   -1.422 19.315 -0.074 0.941  -39.677  36.833
 reserve_price  -0.000  0.000 -2.591 0.011   -0.000  -0.000
 trend_pa_2     -1.860 10.715 -0.174 0.862  -23.083  19.362
 trend_pa_3     -6.417  7.748 -0.828 0.409  -21.762   8.929
 trend_pa_5     16.210 14.605  1.110 0.269  -12.716  45.136
 trend_pa_8    -11.649  3.512 -3.317 0.001  -18.604  -4.694
 trend_pa_15    -2.837  4.016 -0.707 0.481  -10.791   5.117
 trend_pa_19     4.410  5.319  0.829 0.409   -6.126  14.945
 trend_pa_24    -0.416  4.053 -0.103 0.918   -8.444   7.612
 trend_pa_29   -13.368  6.053 -2.208 0.029  -25.358  -1.379
 trend_pa_33    -7.385  3.346 -2.207 0.029  -14.011  -0.758
 trend_pa_585    5.661  4.790  1.182 0.240   -3.827  15.149
 trend_pa_1231  -2.654  4.358 -0.609 0.544  -11.286   5.978
 trend_pa_1480   0.999  6.057  0.165 0.869  -10.997  12.995
 trend_pa_1690  -4.665  4.885 -0.955 0.342  -14.341   5.010
 trend_pa_1721  -5.451  3.436 -1.586 0.115  -12.256   1.355
 trend_pa_1749  -7.035  3.758 -1.872 0.064  -14.479   0.409
 trend_pa_1839  -8.827  3.946 -2.237 0.027  -16.642  -1.012
 OG03           15.917  4.883  3.260 0.001    6.246  25.587
 OS28           36.974 38.019  0.973 0.333  -38.326 112.275
 OS10           -1.727 20.189 -0.086 0.932  -41.713  38.260
 OG08            7.481 15.138  0.494 0.622  -22.502  37.464
 OS06            3.272 17.718  0.185 0.854  -31.821  38.364
 OG11            5.617 11.078  0.507 0.613  -16.325  27.559
 OS30           20.551 15.392  1.335 0.184   -9.935  51.038
 OG02           -1.550  8.099 -0.191 0.849  -17.592  14.492
 OS12           -3.601 19.191 -0.188 0.851  -41.612  34.409
 OS02           30.028 14.573  2.060 0.042    1.163  58.893
 OS24           11.853 25.853  0.458 0.647  -39.353  63.059
 OG12           76.660 55.425  1.383 0.169  -33.117 186.437
 OS01           10.596 14.320  0.740 0.461  -17.767  38.959
 OS08          -37.194 44.239 -0.841 0.402 -124.815  50.428
 OS07           44.400 82.201  0.540 0.590 -118.409 207.209
 OS21          -17.588 16.723 -1.052 0.295  -50.710  15.534
 OG10           60.070 14.742  4.075 0.000   30.871  89.269
 OS22           -9.279 10.689 -0.868 0.387  -30.451  11.893
 OG06           34.599 10.826  3.196 0.002   13.156  56.042
 OG07           11.595 19.124  0.606 0.545  -26.282  49.473
 OS19          -15.583 10.299 -1.513 0.133  -35.981   4.815
 OS18           76.405 28.652  2.667 0.009   19.656 133.153
 OS34            1.423 32.712  0.043 0.965  -63.368  66.213
 OS26          -10.539  7.245 -1.455 0.148  -24.888   3.810
 OS11          124.883  4.371 28.573 0.000  116.226 133.539
 OG04          -20.061  6.015 -3.335 0.001  -31.974  -8.149
 OG13           67.849  6.320 10.735 0.000   55.331  80.367
 OS09          -41.725 13.161 -3.170 0.002  -67.791 -15.659
 OS13           48.853 13.148  3.716 0.000   22.812  74.894
 OS23          -43.784  7.526 -5.818 0.000  -58.689 -28.879
 OS14          136.233  8.375 16.268 0.000  119.646 152.820
 OS05          110.376 12.177  9.064 0.000   86.257 134.495
 2006.0          2.090 18.271  0.114 0.909  -34.097  38.278
 2003.0          3.263 12.295  0.265 0.791  -21.089  27.614
 2001.0        -11.788  7.088 -1.663 0.099  -25.827   2.250
 2002.0         -6.162  8.275 -0.745 0.458  -22.551  10.228
 2005.0         -7.249 15.250 -0.475 0.635  -37.454  22.957
 2004.0          5.199 12.341  0.421 0.674  -19.243  29.642
 =======================================================,
 =======================================================
 Dependent variable:	overrun_ratio
 N:			1167
 R-squared:		0.1738
 Estimation method:	OLS
 VCE method:		Cluster
   Cluster variable:	  auth_anno
   No. of clusters:	  117
 Fixed effects by:	authority_code
   No. of FE:		  18
 =======================================================
                 coeff    se      t   p>t  CI_low CI_high
 fpsb_auction   -0.398 3.408 -0.117 0.907  -7.149   6.352
 reserve_price   0.000 0.000  2.484 0.014   0.000   0.000
 trend_pa_2     -1.498 0.907 -1.653 0.101  -3.294   0.297
 trend_pa_3      1.507 1.309  1.151 0.252  -1.086   4.100
 trend_pa_5     -0.670 1.158 -0.578 0.564  -2.964   1.625
 trend_pa_8     -1.885 0.707 -2.667 0.009  -3.286  -0.485
 trend_pa_15    -1.127 0.636 -1.770 0.079  -2.387   0.134
 trend_pa_19    -0.031 1.117 -0.028 0.978  -2.243   2.181
 trend_pa_24     1.271 0.792  1.606 0.111  -0.297   2.839
 trend_pa_29    -0.098 1.033 -0.095 0.925  -2.143   1.948
 trend_pa_33     2.811 1.141  2.464 0.015   0.552   5.071
 trend_pa_585    2.264 1.702  1.330 0.186  -1.108   5.636
 trend_pa_1231   0.757 0.576  1.315 0.191  -0.383   1.897
 trend_pa_1480   0.274 1.535  0.179 0.859  -2.766   3.314
 trend_pa_1690  -2.292 1.208 -1.898 0.060  -4.684   0.100
 trend_pa_1721   0.457 0.600  0.762 0.448  -0.731   1.646
 trend_pa_1749  -0.275 0.793 -0.347 0.729  -1.845   1.295
 trend_pa_1839  -1.129 0.745 -1.515 0.132  -2.605   0.347
 OG03           -2.190 1.160 -1.888 0.061  -4.488   0.107
 OS28           -1.213 2.127 -0.570 0.570  -5.426   2.999
 OS10           -4.004 4.557 -0.879 0.381 -13.029   5.021
 OG08           -1.732 3.852 -0.450 0.654  -9.362   5.898
 OS06           -0.857 1.756 -0.488 0.626  -4.334   2.620
 OG11            0.317 2.307  0.137 0.891  -4.254   4.887
 OS30            3.348 2.586  1.295 0.198  -1.773   8.469
 OG02           -2.015 1.430 -1.409 0.161  -4.847   0.817
 OS12           -4.866 3.643 -1.336 0.184 -12.081   2.349
 OS02            6.685 5.373  1.244 0.216  -3.957  17.327
 OS24            0.086 2.264  0.038 0.970  -4.399   4.570
 OG12           -3.703 6.020 -0.615 0.540 -15.627   8.220
 OS01           -1.811 3.507 -0.517 0.606  -8.757   5.134
 OS08           17.900 6.834  2.619 0.010   4.364  31.436
 OS21           15.346 7.973  1.925 0.057  -0.446  31.137
 OG10           -4.921 3.635 -1.354 0.178 -12.121   2.278
 OS22          -10.177 2.291 -4.443 0.000 -14.713  -5.640
 OG06           -3.087 1.820 -1.696 0.093  -6.692   0.518
 OG07           -1.125 8.727 -0.129 0.898 -18.410  16.160
 OS19           -4.552 1.969 -2.312 0.023  -8.451  -0.652
 OS18            4.276 6.250  0.684 0.495  -8.102  16.654
 OS34           -4.242 2.730 -1.554 0.123  -9.649   1.166
 OS26           -6.366 1.338 -4.758 0.000  -9.016  -3.716
 OS11            3.559 1.578  2.256 0.026   0.435   6.684
 OG04           -8.170 1.545 -5.288 0.000 -11.230  -5.110
 OG13           -2.026 3.700 -0.548 0.585  -9.354   5.301
 OS13           -2.679 1.740 -1.540 0.126  -6.126   0.767
 OS23           -4.459 2.008 -2.221 0.028  -8.436  -0.482
 OG09          -10.540 3.665 -2.876 0.005 -17.799  -3.281
 OS14           -1.151 2.082 -0.553 0.581  -5.275   2.973
 OS05          -11.241 3.335 -3.371 0.001 -17.846  -4.637
 2006.0          4.497 3.316  1.356 0.178  -2.070  11.065
 2003.0          3.604 2.755  1.308 0.193  -1.853   9.061
 2001.0         -0.735 1.599 -0.460 0.647  -3.901   2.431
 2002.0          1.357 2.028  0.669 0.505  -2.659   5.374
 2005.0          4.614 2.961  1.558 0.122  -1.251  10.479
 2004.0          1.545 2.606  0.593 0.555  -3.618   6.707
 =======================================================,
 =======================================================
 Dependent variable:	days_to_award
 N:			817
 R-squared:		0.4657
 Estimation method:	OLS
 VCE method:		Cluster
   Cluster variable:	  auth_anno
   No. of clusters:	  106
 Fixed effects by:	authority_code
   No. of FE:		  18
 =======================================================
                 coeff     se      t   p>t  CI_low CI_high
 fpsb_auction   26.305  9.110  2.888 0.005   8.242  44.367
 reserve_price   0.000  0.000  0.874 0.384  -0.000   0.000
 trend_pa_2      7.746  3.449  2.246 0.027   0.907  14.584
 trend_pa_3      3.456  6.599  0.524 0.602  -9.630  16.541
 trend_pa_5     -3.317  5.388 -0.616 0.539 -14.000   7.366
 trend_pa_8    -15.230  2.523 -6.037 0.000 -20.232 -10.228
 trend_pa_15    -8.482  2.687 -3.156 0.002 -13.810  -3.153
 trend_pa_19    -1.296  2.974 -0.436 0.664  -7.192   4.600
 trend_pa_24    -1.342  2.576 -0.521 0.603  -6.451   3.766
 trend_pa_29   -29.012 12.842 -2.259 0.026 -54.475  -3.549
 trend_pa_33    -3.134  2.505 -1.251 0.214  -8.101   1.833
 trend_pa_585   -1.052  8.223 -0.128 0.898 -17.357  15.253
 trend_pa_1231   3.588  2.709  1.325 0.188  -1.782   8.959
 trend_pa_1480 -17.793  5.396 -3.297 0.001 -28.493  -7.094
 trend_pa_1690   5.016  5.038  0.996 0.322  -4.974  15.007
 trend_pa_1721   0.615  2.335  0.263 0.793  -4.015   5.245
 trend_pa_1749 -22.363  8.077 -2.769 0.007 -38.378  -6.348
 trend_pa_1839  -3.710  3.071 -1.208 0.230  -9.799   2.379
 OG03            3.848  3.657  1.052 0.295  -3.403  11.100
 OS28          -23.815  4.524 -5.264 0.000 -32.786 -14.844
 OS10           18.769  8.415  2.230 0.028   2.084  35.455
 OG08          -24.510  9.614 -2.549 0.012 -43.573  -5.448
 OS06           19.852 15.777  1.258 0.211 -11.431  51.134
 OG11            4.942  7.186  0.688 0.493  -9.307  19.191
 OS30           -5.429  5.729 -0.948 0.346 -16.789   5.932
 OG02          -14.495  6.696 -2.165 0.033 -27.772  -1.218
 OS12           14.394  6.222  2.313 0.023   2.057  26.730
 OS02           18.185 11.892  1.529 0.129  -5.395  41.765
 OS24           -0.135  9.573 -0.014 0.989 -19.116  18.845
 OG12           14.546 11.189  1.300 0.196  -7.639  36.731
 OS01          -15.376 15.280 -1.006 0.317 -45.674  14.922
 OS08           17.636  4.343  4.061 0.000   9.025  26.248
 OS07           48.230  5.717  8.436 0.000  36.893  59.566
 OS21           -5.453 13.308 -0.410 0.683 -31.839  20.934
 OG10          -19.483  4.130 -4.717 0.000 -27.673 -11.294
 OS22          -38.423 14.912 -2.577 0.011 -67.991  -8.854
 OG06            0.759  5.775  0.131 0.896 -10.692  12.210
 OG07          -24.094  8.343 -2.888 0.005 -40.637  -7.551
 OS19           -5.032  4.296 -1.171 0.244 -13.551   3.486
 OS18          -25.859 13.072 -1.978 0.051 -51.778   0.061
 OS34            3.707 10.549  0.351 0.726 -17.210  24.623
 OG13          -30.672  8.223 -3.730 0.000 -46.977 -14.367
 OS09          -36.056  5.598 -6.441 0.000 -47.155 -24.957
 OS13          -13.950  5.640 -2.473 0.015 -25.133  -2.767
 OS23            1.472  4.538  0.324 0.746  -7.526  10.469
 OG09          -21.116  8.069 -2.617 0.010 -37.116  -5.116
 OS14          -13.076  4.100 -3.190 0.002 -21.205  -4.947
 2006.0        -27.678 12.947 -2.138 0.035 -53.350  -2.006
 2003.0        -17.609  8.221 -2.142 0.035 -33.910  -1.309
 2001.0          4.314  4.789  0.901 0.370  -5.182  13.809
 2002.0        -15.055  5.024 -2.997 0.003 -25.017  -5.093
 2005.0        -21.656 11.289 -1.918 0.058 -44.040   0.728
 2004.0        -19.744  9.582 -2.060 0.042 -38.744  -0.744
 =======================================================)

In [58]:
table4_B2 = table4_PanelB_even(df_4)

table_string = econ.outreg(table4_B2, ['fpsb_auction'], ['First Price Auction'], digits = 3)
table_string += econ.table_statrow("R$^2$", [x.r2 for x in table4_B2], digits =3)
table_string += econ.table_statrow("Number of Observation", [x.N for x in table4_B2])
table_list = table_string.split('&')
table_list = [i.split('\\\\ \n',1)[0] for i in table_list]
table_list.remove(table_list[0])

In [59]:
table_list

[' 7.564***   ',
 ' -1.422     ',
 ' -0.398     ',
 ' 26.305***   ',
 ' (0.884)    ',
 ' (19.315)   ',
 ' (3.408)    ',
 ' (9.110)     ',
 ' 0.592     ',
 ' 0.140     ',
 ' 0.174     ',
 ' 0.466      ',
 ' 1355      ',
 ' 1206      ',
 ' 1167      ',
 ' 817        ']

In [83]:
tab4 = pd.DataFrame({ 'value_title':[],'W.Discount(1)':[],'W.Discount(2)':[],'Extra Cost(3)':[],'Extra Cost(4)':[],'Extra Time(5)':[],'Extra Time(6)':[],'Days Award(7)':[],'Days Award(8)':[]})

In [90]:
def table4_A1(parameter1, parameter2, data):
    table_string = econ.outreg(parameter1, ['fpsb_auction'], ['First Price Auction'], digits = 3)
    table_string += econ.table_statrow("R$^2$", [x.r2 for x in parameter1], digits =3)
    table_string += econ.table_statrow("Number of Observation", [x.N for x in parameter1])
    table_list = table_string.split('&')
    table_list = [i.split('\\\\ \n',1)[0] for i in table_list]
    table_list.remove(table_list[0])
    
    col_title_odd = ['W.Discount(1)', 'Extra Cost(3)', 'Extra Time(5)', 'Days Award(7)']
    col_title_even = ['W.Discount(2)','Extra Cost(4)', 'Extra Time(6)', 'Days Award(8)'] 
    value_title = ['First Auction Price','Standard Error','R$^2$','Observations']
    
    for i in range(len(table_list)):
        if i<4:
            df_table.loc[0,'value_title'] = value_title[0]
            df_table.loc[0,col_title_odd[i]] = table_list[i]
        elif i>=4 and i<8:
            df_table.loc[4,'value_title'] = value_title[1]
            df_table.loc[4, col_title_odd[i-4]] = table_list[i]
        elif i>=8 and i<12:
            df_table.loc[8,'value_title'] = value_title[2]
            df_table.loc[8,col_title_odd[i-8]] = table_list[i]
        else:
            df_table.loc[12,'value_title'] = value_title[3]
            df_table.loc[12,col_title_odd[i-12]] = table_list[i]
            
    table_string2 = econ.outreg(parameter2, ['fpsb_auction'], ['First Price Auction'], digits = 3)
    table_string2 += econ.table_statrow("R$^2$", [x.r2 for x in parameter2], digits =3)
    table_string2 += econ.table_statrow("Number of Observation", [x.N for x in parameter2])
    table_list2 = table_string2.split('&')
    table_list2 = [i.split('\\\\ \n',1)[0] for i in table_list2]
    table_list2.remove(table_list2[0])
    
    for i in range(len(table_list2)):
        if i<4:
            df_table.loc[0,'value_title'] = value_title[0]
            df_table.loc[0,col_title_even[i]] = table_list[i]
        elif i>=4 and i<8:
            df_table.loc[4,'value_title'] = value_title[1]
            df_table.loc[4, col_title_even[i-4]] = table_list[i]
        elif i>=8 and i<12:
            df_table.loc[8,'value_title'] = value_title[2]
            df_table.loc[8,col_title_even[i-8]] = table_list[i]
        else:
            df_table.loc[12,'value_title'] = value_title[3]
            df_table.loc[12,col_title_even[i-12]] = table_list[i]
            
    return(df_table)

def table4_B(parameter, data):
    table_string = econ.outreg(parameter, ['fpsb_auction'], ['First Price Auction'], digits = 3)
    table_string += econ.table_statrow("R$^2$", [x.r2 for x in parameter], digits =3)
    table_string += econ.table_statrow("Number of Observation", [x.N for x in parameter])
    table_list = table_string.split('&')
    table_list = [i.split('\\\\ \n',1)[0] for i in table_list]
    table_list.remove(table_list[0])
    
    df_table = data
    col_title_odd = ['W.Discount(1)', 'Extra Cost(3)', 'Extra Time(5)', 'Days Award(7)']
    col_title_even = ['W.Discount(2)','Extra Cost(4)', 'Extra Time(6)', 'Days Award(8)'] 
    value_title = ['First Auction Price','Standard Error','R$^2$','Observations']
    df_table['Panel'] ='A'

    #colunm 순서로 넣어주는 게 편해
    for i in range(len(table_list)):
        if i<4:
            df_table.loc[0,'value_title'] = value_title[0]
            df_table.loc[0,col_title_odd[i]] = table_list[i]
        elif i>=4 and i<8:
            df_table.loc[4,'value_title'] = value_title[1]
            df_table.loc[4, col_title_odd[i-4]] = table_list[i]
        elif i>=8 and i<12:
            df_table.loc[8,'value_title'] = value_title[2]
            df_table.loc[8,col_title_odd[i-8]] = table_list[i]
        else:
            df_table.loc[12,'value_title'] = value_title[3]
            df_table.loc[12,col_title_odd[i-12]] = table_list[i]
    return(df_table)

In [93]:
table4_A1(table4_B1,table4_B2,tab4)

NameError: name 'table4_B1' is not defined

In [89]:
string = 'table4_B2'
str(table4_B2)[-2]

'\n'

2) The standard errors used to conduct inference about the effect of FPAs.(table5)  
-> criticism: errors autocorrelation -> the PA-year level clustering to produce statistical significance when sig is in fact absent, requires assessing whether the estimate of beta remains significant once standard errors are clustered at PA level.

3) The presence of a sample selection bias(table6)

# 5. Discussion and Policy Implication

The previous finding suggest that reforms towards FPAs can be successful only if their design carefully accounts for the features of the institutions ensuring bids reliability, which include financial guarantees, ex ante prequalification, and ex post screening.  
The final cost of the project under FPAs in M of Turin and C of Turin declines by approximately 8 percent of the original RP(80,000euro - 100,000euro)  
This amount of saving is high enough to compensate for the increased cost of bid screening and for the possible presence cost of transaction costs associated with contract renegotiation.

# 6. Conclusion