--- 
Project for the course in Microeconometrics | Summer 2020, M.Sc. Economics, Bonn University | [Hyein Jeong](https://github.com/huiren-j)
# Replication of Decarolis, Francesco (2014)  <a class = "tocSkip">
---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-Introduction" data-toc-modified-id="1.-Introduction-1">1.Introduction</a></span></li>
<ul class="toc-item"><li><span><a href="#1.1. Public Procurement System and Policy Changes" data-toc-modified-id="#1.1. Public Procurement System and Policy Changes-1.1">1.1. Public Procurement System and Policy Changes</a></span></li></ul></ul>
<div class="toc"><ul class="toc-item"><li><span><a href="#2.-Theory Overview" data-toc-modified-id="2.-Theory Overview-2">2.Theory Overview</a></span></li>
<li><span><a href="#3.-Data" data-toc-modified-id="3.-Data-3">3.Data</a></span></li>
<li><span><a href="#4.-Empirical Analysis" data-toc-modified-id="4.-Empirical Analysis-4">4.Empirical Analysis</a></span></li>
<li><span><a href="#5.-Discussion and Policy Implications" data-toc-modified-id="5.-Discussion and Policy Implications-5">5.Discussion and Policy Implications</a></span></li>
<li><span><a href="#6.-Conclusion" data-toc-modified-id="6.-Conclusion-6">6.Conclusion</a></span></li>
<li><span><a href="#7.-Extension" data-toc-modified-id="7.-Extension-7">7.Extension</a>

In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt
from linearmodels import PanelOLS
import statsmodels.api as sm
import econtools as econ
import econtools.metrics as mt
import math
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [15]:
from auxiliary.prepare import *
from auxiliary.table2 import *
from auxiliary.table3 import *
from auxiliary.table4 import *
from auxiliary.table5 import *
from auxiliary.table6 import *
from auxiliary.table7 import *
from auxiliary.extension import *
from auxiliary.table_formula import *

---
# 1. Introduction
---

Decarolis examined the effect of the switch to First Price Auction(FPA) from Average Bid Auction(ABA) for public procurement in Italy. The main difference between FPA and ABA is the way to determine the winner. While ABA chooses the winner with algorithm to remove unreliable bids which sometimes results in removing the lowest bid price, FPA selects the lowest bid price as a winner. Due to high competitive chararcteristic of FPA, it is known as a good method for public procuremnet with a lower cost and high transparency. However, the author aruges that it is not the case when the object of procurement is a contract. To figure out it, he studied the effect of FPAs not only on winning price but also on performance quality and screening cost.  

The results are obtained through a difference-in-differences(DD) identification strategy. It is applied seperately to two PAs,the County of Turin and the Municipality of Turin, that switched to FPAs in 2003. The observed period is from 2000 to 2006 and observed PAs are filtered by their reserve price above €300,000. As a result, the sign of coefficients were same in both PAs but the magnitude were different and even doubled in the latter. The author figured out that it is caused by screening process which delays the announce of the winner as excluding the most likely to be a winner but at the same time, the most unreliable bid. In the final part of this paper, the author used additional data about roadework jobs auctions from 2006 to 2011. This part showed the importance of the ex post bid screening for the effective use of FPAs by comparing the voluntarily switcher group and the switcher forced by the restriction on the use of ABAs.  

**Main variables** 

| **Treatment**      | **Main outcomes**          | **Main Covariates**    |
|------------------- |----------------------------|------------------------|
| First Price Auction| Winning discount           | Public Administration  |
|                    | Cost overrun               | Time                   |                         
|                    | Completion time delay      |                        |
|                    | Days to award the contract |                        |  


I will replicate *AWarding Price, Contract Performance, and Bids Screening: Evidence from Procurement Auctions, Decarolis(2014)* in this notebook. After replicating the result of this paper and three types of robustness checks provided by the author, I will evaluate the results with the additional data sample, Information Entrepreneur, which covers different period from the main dataset(the Italian Authority for Public Contracts).

---
# 2. Theory Overview
---  

Before having a look at the study, knowing the changes in regulations on public procurement and the response of PAs is needed. The main period the paper handled is between January 2000 and June 2006. In this period, the regulation required the use of ABAs for all contracts with reserve price below €5 million. Afterwards, Europe Union regulation commanded the use of FPAs for contract at or above this value. In 2003, as collusion in ABAs was revealed, the Municipality of Turin replace ABAs with FPAs and then the County of Turin followed. However, the central government tackled to these reforms in the court and then similar reforms in other PAs was blocked. The below figure shows the time line of these reforms.

![ERROR:Here should be causal graph 2](files/timeline.JPG)  


The theorical background is based on "auctions and Contract Enforcement" of Spulber(1990). According to the paper, what differentiate auctions for contracts from auctions for goods is cost uncertainty because transaction in auction for contracts does not take place immediately. This characteristic of auctions for contracts gives the auctioneer different trade-offs between the savings due to a high winning discount and the losses due to poor performance quality.  
  
There are **Two types of Trade-offs**
   *  The Trade-off between **the Winning Bid and Performance**  
    : From high competition in FPAs, PAs are able to benefit with high winning discount. However, there is the risk that the winning firm will default intentionally to increasing their discounts as reported in Decarolis(2013) or the risk to lower performance quality and time delays.  
    
   *  The Trade-Off between **Performance and the Screening Cost**  
    : There are three systems to avoid performance quality risk: financial guarantees to support bids, ex ante prequalification requirements for bidders, and ex post screening of bids reliability. The Italian system allows PAs to conduct ex post screening. Nevertheless, as the screening system ultimately lessens competition, equilibrium prices become higher than without the screening. 

To add more explanation about ABA, one of the main factors distinguishing ABA from FPA is the way to determine the winning discount. ABA remove all unreliable and risky bids. Thus the bidders offer higher bids than FPA and the bids tend to concentrate in a narrow range, near truncated mean. Therefore, the expected effects of a switch from ABA to FPA is to decrease of the price at the awarding stage, to worsen ex post performance and to increase bid screening.

---
# 3. Empirical Strategy
---  

To study the effect of the switch to FPA, the author used the methology similar with a difference-in-differences(DD) regression exploiting the difference in the timing with which Turin adpoted FPAs relative to PAs. The model follows:  

\begin{align*}
Y_{ist} = a_s + b_t + cX_{ist} + \beta FPA_{st} + \epsilon_{ist}
\end{align*}  

* $i$ indicates the auction
* $s$ indicates the PA
* $t$ indicates the year
* $FPA$ is one for FPAs and zero for ABAs
* $X$ indicates other covariates
* $Y_{ist}$ denotes the outcomes of the auction: winning discount, performance, screening cost

---
# 4. Identification
---  
There are two main challenges to interpret $\beta$ as the causal effect of the switch to FPAs. The first one is that the treated PAs, the Municipality of Turin and the County of Turin, switched to FPAs voluntarily, not assigned randomly. This implies that the positive effects of FPAs observed regarding Turin could be overestimated compared to other PAs. The second challenge is that the DD strategy lies in features of the pretreatment regime because this feature can affect the contruction of the DD estimator and its interpretation.  

To address the first challenge, this paper relies on the two assumptions. The first assumption is that the **treated are randomly selected** since the treated does not seem like abandoned ABAs because they expected the positive effect of FPAs. This assumption is based on the juridical situation associated with ABAs in 2003. At that time, several firms were accused on charges of collusion in ABAs. These firms were not from Turin and also participated in auctions held in other regions. This became a trigger for Turin to switch to FPAs. Furthermore, there were other collustion cases on courts in other PAs during the same period. Therefore, the reason why the PAs in Turin were the first swicher to FPAs is that they were the first one which confronted with this juridical case, not related to the expected effect of the introduction of FPAs.  

The second assumption is that, thus, **if the central government had not blocked the switch to FPAs, then other PAs would have abandoned ABAs** as like the PAs in Turin did. This assumption can be justified by the situation after July 2006 when both FPAs and ABAs are available again. The Information Entrepreneur sample(IE sample),which includes data of roadwork jobs auction outcomes from July 2006 to July 2011, shows that 26 PAs voluntarily adopted FPAs between July 2006 and October 2008. Also, the author checked that population of the region the administration has juridiction over and the number of times holding auctions is the only statistically significant variables on the adoption of FPAs.  

The second main challenge is **the charateristics observed in PA level**. In particular, ABAs has a narrow range of winning price. Nevertheless, the approximate mode of the bid distribution differs depending on PAs while it is stable within PAs over time and across contracts. Caviello and Mariniello(2011) reported that information on both past and future auction is easily available. In addition, Colney and Decarolis(2012) figured out that the availability of this information induce the unreliable bidding behavior described above and the behavior is possible to be compatible with an equilibrium. This implies that the necessity of taking PA fixed effects into accounts.

The causal graph below illustrate the relationship between *First Price Auction* ***D***, *other covariates* ***X*** and *dependent variables* ***Y1,Y2,Y3*** which express winning discount, performance quality and screening cost. X can represents several variables, for example, reserve price, fiscal efficiency and so on. Additionally, since PAs' decisions for auction type depend on population and the number of times of auctions, *Public Administration* ***P*** also included in the causal graph.  

![ERROR:Here should be causal graph 2](files/causal.jpg)  


To evaluate the effect of FPAs on winning discount, performance and screening cost, it is necessary to which variables in data can represent each of them. They will be four: winning discount, cost overrun, delay to completion and days to award.  

 * **Winning discount**  
    *discount* : the rebate (between 0% and 100%) over the reserve price
 * **Performnace**  
     a. *cost overrun*: the difference between final payment and the winning bid as a percentage of the reserve price  
     b. *delay to completion*: the difference between the actual and the contractual time as a percentage of the contractual time  
 * **Screening cost**  
    *days to award* : the difference in days between when the bids are opend and when the PA announces the identity of the winner  
    In detail, the screening cost was represented by *days to award* because as PA egineer excludes unreliable bids from the lowest bid price, it takes time to reach higher bid price but seemingly reliable price. Thus, it is plausible that the increase in the number of days to announce the winner leads to select more reliable contractor.

---
# 5. Replication of Decarolis (2014)
---

### 5.1. Data & Descriptive Statistics

In [4]:
data = pd.read_stata('data/Authority.dta')

Dearolis used the database of the Italian Authority for Public Contract which includes the contracts awarded between January 2000 and June 2006.
He filtered the data with following standards:  
* Reserve price: between €300,000 and €5 million
* Work types: the simple types of public work (e.g. roadwork construction and repair jobs)
* Region: five reions in the North (Piedmont, Lombardy, Veneto, Emilia, and Liguria)

The data was already filtered by the author. To add explanation about the standards, first of all reserve price is determined by PA engineers who calculate it by multiplying the required quantities of inputs with region-based input prices. Thus, input prices differs by region but the prices in the chosen regions are so similar that they are comparable. Moreover, the simple work type also helps the reserve price stable. This is because, first of all, there is not too much discretion in quantity of inputs to use and secondly, the geographical area of the chosen regions are similar. Therefore, the filtering based on these standards will be helpful to provide more plausible interpretations of the study.  

Table1 shows the descriptive statistics of the periods before and after the reform in Turin. The County of Turin has over twice more popluation than the Municipality of Turin. Also, the days to award of the County of Turin is lower than the Municipality of Turin in both period. This fact is in the line with the authors finding which is the larger PAs has reduced burden of screening cost relative to the smaller PAs. Also, the treated groups reported higher winning discount mean after reforms while the control groups, other PAs, rather reported lower mean of winning discount.

#### Table1. Descriptive Statistics

In [364]:
#table1: Descriptive Statistics (Jan 2000 to Dec 2002)
df_1 = prepare_data(data)
df_pre = presort_describe(df_1)
table1_presort(df_pre)

                  1. Municipality of Turin                    \
                                      Mean           SD    N
Winning discount                   17.0717      5.04908  121
Extra cost                         5.78489      8.67399   83
Extra time                         47.1121      53.1709   75
Days to award                      146.894      40.9554  111
Reserve price                      919.072      776.756  121
Number of bidders                  59.9091      26.8533  121
Population                         900.608  2.73983e-12  121
Experience                             523            0  121
Fiscal efficiency                 0.750452    0.0347996  121

                  2. County of Turin                 3. Other PAs            \
                                Mean          SD   N         Mean        SD
Winning discount             17.3237     5.89664  63      12.8304   6.16729
Extra cost                   6.86463     16.9805  45      5.29898   10.6573
Extra time                   62.8024     66.7607  47      63.2966   75.7257
Days to award                97.5909     42.6578  44      59.3789   39.8938
Reserve price                914.095     805.409  63       868.83   710.547
Number of bidders             40.254     40.4921  63      37.5411   34.5337
Population                   2242.77  2.7504e-12  63      1023.99   1082.77
Experience                       416           0  63      186.403   90.9841
Fiscal efficiency           0.884224   0.0147748  63       0.8131  0.140129


                      N
Winning discount   1009
Extra cost          672
Extra time          711
Days to award       768
Reserve price      1009
Number of bidders  1009
Population         1009
Experience         1009
Fiscal efficiency  1009

In [7]:
#table1: Descriptive Statistics (Jan 2003 to Dec 2006)
df_post = postsort_describe(df_1)
table1_postsort(df_post)

                  1. Municipality of Turin                    \
                                      Mean           SD    N
Winning discount                   30.9739      9.83663  156
Extra cost                         13.9357      13.8791   79
Extra time                         56.0595      66.1695   92
Days to award                      121.383      82.6208   94
Reserve price                      1370.78      892.667  156
Number of bidders                  7.61538       9.3391  156
Population                         900.608  2.73727e-12  156
Experience                             523            0  156
Fiscal efficiency                 0.805913    0.0395676  156

                  2. County of Turin                 3. Other PAs             \
                                Mean         SD    N         Mean         SD
Winning discount             27.6648    7.24379  137       12.382     5.4445
Extra cost                    6.6663    9.65511   62      7.99173    13.8449
Extra time                   79.6506    89.5052   87      53.7268    73.8185
Days to award                 101.62    49.6456  100      30.6847    34.3186
Reserve price                 988.45     760.45  137      922.082    791.005
Number of bidders            12.7153    15.3239  137      46.9946    35.1868
Population                   2242.78          0  137      388.392    245.926
Experience                       416          0  137      171.413    75.2393
Fiscal efficiency           0.866495  0.0323597  137     0.866218  0.0918481


                     N
Winning discount   930
Extra cost         665
Extra time         697
Days to award      425
Reserve price      930
Number of bidders  930
Population         930
Experience         930
Fiscal efficiency  930

##  5.2. Results

Table2 and Table3 shows that the DD estimates for the Municipality of Turin and the County of Turin. Each of them has four panels by the dependents variables. Each panels has 3 control groups. The first control gruop is defined by the population(columns 1 and 2), the second control group is defined by the number of times awarding the contracts which will be denoted by experiece(columns 3 and 4) and the last control group is defined by both population and experience.  
* PanelA: Winning discount
* PanelB: Cost overrun
* PanelC: Completion time delay
* PanelD: Days to award the contract

In [9]:
df = basic_setting(data)

#### Table2. Difference in Differences: Municipality of Turin

Table2 shows the result of DD regression of the Municipality of Turin. The increase range of winning discount is between 12 and 14 percent. This implies that by adopting FPAs, PAs can save €180 thousand per auction. However, with the performance variables(PanelB and PanelC), the possibility of loss was suggested. Cost overrun ratio reported between 4-7 percent of the reserve price. Completion delay also increased in the range between 19-39 percent of contractual due date. Regarding to screeing cost, the result shows that from 24 to 34 days will be taken.

In [11]:
#table2
table2_reg = table2_list(df)
main_table(table2_reg)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    13.10***      11.99***      13.32***
      Standard Error         (1.61)        (1.32)        (1.77)
      R$^2$                  0.505         0.639         0.493
      Observations           1262          1262          1275
B     First Auction Price    7.20***       5.87***       5.14**
      Standard Error         (1.99)        (2.05)        (2.16)
      R$^2$                  0.111         0.156         0.185
      Observations           1092          1092          1049
C     First Auction Price    25.23**       34.18***      19.36*
      Standard Error         (12.05)       (12.13)       (9.81)
      R$^2$                  0.085         0.122         0.111
      Observations           1110          1110          1084
D     First Auction Price   28.70***      26.23**       27.29**
      Standard Error        (10.78)       (11.18)       (10.50)
      R$^2$                 0.554         0.566         0.531
      Observations          777           777           777

                             Control(4)    Control(5)    Control(6)
Panel value_title
A     First Auction Price    12.02***      13.71***      12.26***
      Standard Error         (1.47)        (1.72)        (1.38)
      R$^2$                  0.614         0.526         0.644
      Observations           1275          880           880
B     First Auction Price    4.33**        7.25***       5.71**
      Standard Error         (2.13)        (2.23)        (2.20)
      R$^2$                  0.214         0.160         0.221
      Observations           1049          742           742
C     First Auction Price    27.98***      27.73**       39.28***
      Standard Error         (10.14)       (10.78)       (12.00)
      R$^2$                  0.148         0.095         0.147
      Observations           1084          747           747
D     First Auction Price   23.54**       34.05***      33.04**
      Standard Error        (11.64)       (11.72)       (14.40)
      R$^2$                 0.547         0.546         0.565
      Observations          777           549           549

#### Table3. Differences in Differences: County of Turin

Table2 shows the result of DD regression of the County of Turin. The result is similar with the one of the Municipality of Turin. The feature of it is that coefficients of both Panel2 and Panel3 are not statistically significant. Furthermore, the magnitude is smaller than the Municipality of Turin. The most interesting finding is that the difference in days to award, which means screening cost. The effect for the County of Turin is not only statistically significant but also almost twice than the Municipality of Turin.

In [12]:
#table3
table3_reg = table3_list(df)
main_table(table3_reg)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in true_divide
  return 1 - self.ssr/self.centered_tss
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                             Control(1)    Control(2)    Control(3)  \
Panel value_title
A     First Auction Price    8.65***       8.69***       8.58***
      Standard Error         (1.15)        (1.10)        (1.31)
      R$^2$                  0.419         0.579         0.544
      Observations           1355          1355          653
B     First Auction Price    0.04          0.20          1.01
      Standard Error         (3.29)        (3.55)        (3.19)
      R$^2$                  0.120         0.149         0.155
      Observations           1167          1167          517
C     First Auction Price    12.95         10.76         9.69
      Standard Error         (17.84)       (18.72)       (16.12)
      R$^2$                  0.089         0.126         0.065
      Observations           1206          1206          560
D     First Auction Price   35.02***      37.49***      48.00***
      Standard Error        (7.86)        (8.30)        (6.99)
      R$^2$                 0.383         0.409         0.390
      Observations          817           817           443

                             Control(4)    Control(5)    Control(6)
Panel value_title
A     First Auction Price    8.29***       8.78***       8.66***
      Standard Error         (1.17)        (1.33)        (1.10)
      R$^2$                  0.671         0.553         0.675
      Observations           653           567           567
B     First Auction Price    0.66          1.58          0.56
      Standard Error         (3.23)        (3.18)        (3.25)
      R$^2$                  0.188         0.156         0.193
      Observations           517           454           454
C     First Auction Price    7.99          10.36         9.59
      Standard Error         (18.27)       (17.65)       (20.00)
      R$^2$                  0.106         0.067         0.106
      Observations           560           498           498
D     First Auction Price   53.45***      53.53***      59.33***
      Standard Error        (7.87)        (8.82)        (9.40)
      R$^2$                 0.434         0.428         0.473
      Observations          443           386           386

##  5.3. Robustness Checks

In this section, I will replicate the three types of robustness checks which the author conducted. The first one handles with **the presence of common time trends** among the treated and control groups. This method is quite easily founded in other literatures using DD analysis. The second check is focused on **the standard errors with different clustering**. The last check deals with the **presence of a sample selection bias** by using different portions of the main data.

### 5.3.1 PA-Time Variables

The first robustness checks conducts with the presence of common time trends. In this part, the author used the models of Table2 and Table3 with PA-specific, time-varing variables. The two tests were assigned to each dependent variables. The first coefficient includes a measure of fiscal policy efficiency which is the ratio between the actual and expected tax revenues. The second coefficient is obtained by including of PA-specific, time-varying controls. Also, this test handled with only control group 1 which classified by experience variable.

#### Table4. Robustness Checks: PA-Time Variables(Control Group1)

To confirm the baseline estimates, the estimated coefficient on the FPAs dummy should not be affected by the inclusion of PA-specific, time-varying controls. The result in Table4 shows that the inclusion of time tred variable reduces the magnitude of the effect on winning discount in both PAs but it is still quite large. In addition, the statistically significant increase in screeing cost is observed only for the County of Turin and this is also a confirmation of the previous result. The difference from the previous result is that none of the coefficient of performance varialbes was statistically significant at the 5 percent significance level.

In [ ]:
#Robustness with common time trends
df_4 = table4_setting(df)

In [388]:
tab4_1 = table4_odd(df_4)
tab4_2 = table4_even(df_4)
table4(tab4_1, tab4_2)

,value_title,W.Discount(1),W.Discount(2),Extra Cost(3),Extra Cost(4),Extra Time(5),Extra Time(6),Days Award(7),Days Award(8)
Panel,,,,,,,,,
A,First Price Auction,12.178***,6.136***,32.425**,5.323,5.987***,-0.821,30.511***,25.438
A,Standard Error,(1.329),(1.305),(12.670),(28.383),(1.937),(3.583),(11.212),(22.608)
A,R$^2$,0.639,0.651,0.122,0.135,0.156,0.170,0.568,0.597
A,Observations,1262,1262,1110,1110,1092,1092,777,777
B,First Price Auction,8.705***,7.564***,11.203,-1.422,0.294,-0.398,36.449***,26.305***
B,Standard Error,(1.086),(0.884),(18.748),(19.315),(3.587),(3.408),(8.347),(9.110)
B,R$^2$,0.579,0.592,0.126,0.140,0.149,0.174,0.410,0.466
B,Observations,1355,1355,1206,1206,1167,1167,817,817

### 5.3.2 Different Standartd Errors

The second set of robustness checks mainly handles with standard errors used to inference about the effect of FPAs. The paper clustered standard errors at the PA-year level. According to the author, this is reasonable beacuse of the presence of PA-specific approximate mode for winning discounts that might change across years. However, Bertrand, Duflo and Mullainathan (2004) mentioned about the risk due to errors autocorrelation which can result in the PA-year level clustering to produce statistical significance when actually the significance is absent. Thus it is needed to evaluate the significance of the estimate of $\beta$ with standard errors clustered at PA level.

#### Table5. Robustness Checks: 95 Percent Confidence Intervals with Different Standard Errors

Table5 reports the 95 percent confidence intervals (CI) obtained with the regression presented in Table 4 using different sets of standard errors.

In [390]:
#Robustness with std error
#table5_A
df_tab5 = table5_setting(df)

In [384]:
tab5_a_odd = table5_PanelA_odd(df_tab5)
tab5_a_even = table5_PanelA_even(df_tab5)
table5_A(tab5_a_odd,tab5_a_even)

,W.Bid(1),W.Bid(2),Extra cost(3),Extra cost(4),Extra time(5),Extra time(6),Days awrd(7),Days awrd(8)
PA-Year,(10;15),(3;9),(7;58),(-53;63),(2;10),(-8;7),(8;53),(-21;79)
PA,(10;14),(4;8),(17;48),(-22;32),(4;8),(-6;4),(5;56),(-5;62)

In [385]:
tab5_PanelB_odd = table5_PanelB_odd(df_tab5)
tab5_PanelB_even = table5_PanelB_even(df_tab5)
table5_B(tab5_PanelB_odd, tab5_PanelB_even)

,W.Bid(1),W.Bid(2),Extra cost(3),Extra cost(4),Extra time(5),Extra time(6),Days awrd(7),Days awrd(8)
PA-Year,(7;11),(1;7),(-26;48),(-46;65),(-7;7),(-12;8),(20;53),(-23;25)
PA,(8;10),(3;6),(-1;23),(-33;52),(-2;3),(-6;2),(20;53),(-22;24)

In [412]:
row3_1 = table5_PanelA_odd_row3(df_tab5)

=======================================================
Dependent variable:	discount_beta
N:			101
R-squared:		0.9066
Estimation method:	OLS
VCE method:		Cluster
  Cluster variable:	  auth_anno
  No. of clusters:	  101
=======================================================
                     coeff    se      t   p>t  CI_low CI_high
fpsb_auction        14.209 1.966  7.228 0.000  10.309  18.109
municipality       -10.402 2.298 -4.527 0.000 -14.961  -5.843
fiscal_efficiency   -6.883 5.664 -1.215 0.227 -18.121   4.354
auth_dum_4.0        -0.164 2.518 -0.065 0.948  -5.160   4.832
auth_dum_6.0        -0.120 2.252 -0.053 0.957  -4.588   4.348
auth_dum_9.0        -2.401 2.367 -1.014 0.313  -7.098   2.296
auth_dum_16.0       -6.994 2.445 -2.860 0.005 -11.845  -2.142
auth_dum_20.0       -1.213 2.351 -0.516 0.607  -5.876   3.451
auth_dum_25.0       -2.059 2.022 -1.018 0.311  -6.070   1.952
auth_dum_30.0       -2.910 2.266 -1.284 0.202  -7.406   1.587
auth_dum_1246.0     -0.761 1.398 -0.545 0.587  -3.535   2.012
auth_dum_1708.0     -1.756 0.932 -1.885 0.062  -3.605   0.092
auth_dum_1739.0      1.802 1.149  1.568 0.120  -0.478   4.082
auth_dum_1768.0      3.569 0.841  4.243 0.000   1.900   5.238
auth_dum_1858.0      0.509 0.715  0.713 0.478  -0.909   1.927
auth_dum_3090272.0   7.218 1.566  4.609 0.000   4.111  10.325
year_dum_2001.0      2.459 1.341  1.834 0.070  -0.201   5.118
year_dum_2002.0      0.822 1.314  0.626 0.533  -1.785   3.429
year_dum_2003.0      0.235 1.300  0.181 0.857  -2.345   2.814
year_dum_2004.0      2.067 1.238  1.670 0.098  -0.389   4.522
year_dum_2005.0      3.955 1.359  2.910 0.004   1.258   6.651
year_dum_2006.0      3.978 1.535  2.592 0.011   0.934   7.023
_cons               20.243 5.469  3.702 0.000   9.393  31.094
=======================================================

=======================================================
Dependent variable:	eta
N:			7
R-squared:		0.7514
Estimation method:	OLS
VCE method:		Standard (Homosk.)
=======================================================
       coeff    se     t   p>t CI_low CI_high
dtil  13.938 3.030 4.600 0.006  6.149  21.727
_cons  7.640 1.550 4.930 0.004  3.657  11.623
=======================================================

=======================================================
Dependent variable:	delay_ratio_beta
N:			99
R-squared:		0.9369
Estimation method:	OLS
VCE method:		Cluster
  Cluster variable:	  auth_anno
  No. of clusters:	  99
=======================================================
                     coeff     se      t   p>t  CI_low CI_high
fpsb_auction        23.182 14.675  1.580 0.117  -5.940  52.304
municipality       105.235 15.473  6.801 0.000  74.531 135.940
fiscal_efficiency    8.756 35.999  0.243 0.808 -62.683  80.194
auth_dum_4.0        57.651 18.236  3.161 0.002  21.462  93.840
auth_dum_6.0        51.579 39.416  1.309 0.194 -26.640 129.799
auth_dum_9.0       -12.775 13.765 -0.928 0.356 -40.092  14.541
auth_dum_16.0       28.909 14.290  2.023 0.046   0.550  57.267
auth_dum_20.0       -1.248 15.064 -0.083 0.934 -31.142  28.645
auth_dum_25.0       22.140 14.781  1.498 0.137  -7.192  51.472
auth_dum_30.0       18.826 16.787  1.121 0.265 -14.487  52.140
auth_dum_1246.0      5.183 10.533  0.492 0.624 -15.719  26.085
auth_dum_1708.0     23.519  9.149  2.571 0.012   5.362  41.676
auth_dum_1739.0     19.362 10.400  1.862 0.066  -1.277  40.001
auth_dum_1768.0     12.830  9.799  1.309 0.193  -6.616  32.277
auth_dum_1858.0     35.765 10.533  3.395 0.001  14.862  56.668
auth_dum_3090272.0   4.215  7.924  0.532 0.596 -11.511  19.940
year_dum_2001.0    -19.920  5.918 -3.366 0.001 -31.664  -8.176
year_dum_2002.0    -20.545  7.059 -2.910 0.004 -34.554  -6.535
year_dum_2003.0    -17.353 10.621 -1.634 0.105 -38.430   3.724
year_dum_2004.0    -25.762  7.978 -3.229 0.002 -41.595  -9.929
year_dum_2005.0    -30.856  7.697 -4.009 0.000 -46.130 -15.581
year_dum_2006.0    -26.350  9.622 -2.739 0.007 -45.444  -7.256
_cons               63.537 34.579  1.837 0.069  -5.083 132.157
=======================================================

=======================================================
Dependent variable:	eta
N:			7
R-squared:		0.2772
Estimation method:	OLS
VCE method:		Standard (Homosk.)
=======================================================
       coeff     se     t   p>t  CI_low CI_high
dtil  25.815 19.491 1.324 0.243 -24.287  75.918
_cons 14.715  9.869 1.491 0.196 -10.655  40.084
=======================================================

=======================================================
Dependent variable:	overrun_ratio_beta
N:			98
R-squared:		0.7322
Estimation method:	OLS
VCE method:		Cluster
  Cluster variable:	  auth_anno
  No. of clusters:	  98
=======================================================
                    coeff    se      t   p>t  CI_low CI_high
fpsb_auction        8.051 2.226  3.617 0.000   3.633  12.468
municipality        0.627 2.981  0.210 0.834  -5.289   6.542
fiscal_efficiency  -4.198 8.909 -0.471 0.639 -21.880  13.483
auth_dum_4.0        5.435 2.728  1.993 0.049   0.021  10.849
auth_dum_6.0       -0.638 2.763 -0.231 0.818  -6.122   4.846
auth_dum_9.0        5.000 2.812  1.778 0.079  -0.581  10.581
auth_dum_16.0       1.466 3.049  0.481 0.632  -4.586   7.518
auth_dum_20.0       6.874 2.845  2.416 0.018   1.228  12.520
auth_dum_25.0      12.987 2.877  4.514 0.000   7.277  18.697
auth_dum_30.0       8.236 2.486  3.313 0.001   3.302  13.169
auth_dum_1246.0     1.873 1.534  1.221 0.225  -1.172   4.918
auth_dum_1708.0     2.074 2.410  0.861 0.391  -2.708   6.857
auth_dum_1739.0     4.279 1.750  2.445 0.016   0.806   7.753
auth_dum_1768.0    10.671 1.925  5.544 0.000   6.851  14.491
auth_dum_1858.0     2.840 1.424  1.994 0.049   0.014   5.665
auth_dum_3090272.0  4.401 1.659  2.652 0.009   1.107   7.694
year_dum_2001.0    -0.730 1.614 -0.452 0.652  -3.934   2.474
year_dum_2002.0    -0.477 1.626 -0.293 0.770  -3.705   2.751
year_dum_2003.0     2.101 2.289  0.918 0.361  -2.443   6.644
year_dum_2004.0    -0.280 1.720 -0.163 0.871  -3.694   3.134
year_dum_2005.0     1.008 1.578  0.639 0.524  -2.124   4.141
year_dum_2006.0     1.914 1.945  0.984 0.328  -1.947   5.775
_cons               5.924 8.818  0.672 0.503 -11.578  23.426
=======================================================

=======================================================
Dependent variable:	eta
N:			7
R-squared:		0.4274
Estimation method:	OLS
VCE method:		Standard (Homosk.)
=======================================================
      coeff    se     t   p>t CI_low CI_high
dtil  7.351 2.891 2.543 0.052 -0.081  14.782
_cons 4.092 1.493 2.741 0.041  0.255   7.929
=======================================================

### 5.3.3 Subsamples

The third set of robustness checks focuses on the presence of a simple selection bias. This test is also conducted regarding to the control group 1 which is defined by experience variable and also, handles with winning discount among the dependent variables.

#### Table6. Robustness Checks: Subsamples

In [181]:
df_6 = table6_setting(df)

In [182]:
table6_reg = table6_list(df_6)
table6(table6_reg)

C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\stats\outliers_influence.py:193: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)
C:\Users\thxkn\anaconda3\lib\site-packages\statsmodels\regression\linear_model.py:1685: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

                                   Base          Full       Missing  \
Panel value_title
A     First Auction Price    11.99***      10.43***      14.64***
      Standard Error         (1.32)        (1.58)        (3.20)
      R$^2$                  0.639         0.595         0.771
      Observations           1262          2098          266
B     First Auction Price   8.69***       8.78***       11.36***
      Standard Error        (1.10)        (1.27)        (2.04)
      R$^2$                 0.579         0.577         0.780
      Observations          1355          2275          302

                                 Simple       Complex     2001-2005  \
Panel value_title
A     First Auction Price    12.74***      11.08***      9.46***
      Standard Error         (2.14)        (1.07)        (0.73)
      R$^2$                  0.635         0.709         0.654
      Observations           706           556           1004
B     First Auction Price   9.41***       7.53***       7.61***
      Standard Error        (1.79)        (1.85)        (0.56)
      R$^2$                 0.578         0.639         0.600
      Observations          744           611           1109

                              2002-2004
Panel value_title
A     First Auction Price    9.06***
      Standard Error         (0.81)
      R$^2$                  0.677
      Observations           620
B     First Auction Price   7.47***
      Standard Error        (0.78)
      R$^2$                 0.623
      Observations          720

### 5.4 IE sample (2006-2011)

In this part, the paper used the data of roadwork jobs procurement after both FPAs and ABAs became available again to check the effect of FPAs.

In [184]:
data1 = df #Authority.dta after basic setting
data2 = pd.read_stata('data/IE.dta')
describe_a = table7_PanelA(data2)
describe_b = table7_PanelB(data2)
table7(describe_a, describe_b)

                                    AB Auctions                         \
                                           Mean      SD      p50     N
PanelA: Voluntary swtiching to FPAs           -       -        -     -
Winning discount                          15.77    5.05    15.88  1648
Days to award                             21.23   25.57       11   654
Reserve price                            407.39   516.2   262.92  1648
Number of bidders                         58.74   43.69       49  1648
Conract Duration                         179.82  158.18      147  1596
Miles PA from Turin                      149.68   75.77   161.93  1239
Population                               137.53  213.06    24.27  1648
Experience                                15.55   21.99        5  1648
PanelB.Forced to switch to FPAs               -       -        -     -
Winning discount                           15.8    7.54    16.12   321
Days to award                             30.21   38.22       16   172
Reserve price                            600.25  636.67   397.65   321
Number of bidders                            66   47.88       59   321
Conract Duration                         204.22  134.56      152   306
Miles PA from Turin                      153.87    46.5   141.16   208
Population                              1038.66   856.6  1182.34   321
Experience                                62.32   42.99       39   321

                                    FB Auctions
                                           Mean       SD      p50    N
PanelA: Voluntary swtiching to FPAs           -        -        -    -
Winning discount                          32.36    10.07    33.15  494
Days to award                             69.87    49.14       56  338
Reserve price                           1007.32   3305.2   408.74  494
Number of bidders                         10.85     8.41        9  494
Conract Duration                         248.11   168.38      210  427
Miles PA from Turin                       94.54    80.13   113.99  467
Population                              1003.44   797.19   900.61  494
Experience                               100.91    63.01      129  494
PanelB.Forced to switch to FPAs               -        -        -    -
Winning discount                          35.63     7.78    35.72   74
Days to award                             112.6    54.45    115.5   52
Reserve price                           2755.67  5169.71  1563.21   74
Number of bidders                         17.55    11.59       15   74
Conract Duration                         415.65   204.83      400   66
Miles PA from Turin                      156.62    52.83   141.16   23
Population                              1123.47   897.28  1308.73   74
Experience                                 58.3    37.92       84   74

---
# 6. Extension
---

### 6.1.1 Extension (1)

One of the main assumption underlying this paper was that the PAs in control groups would have adopted FPAs if so allowed. As the additional dataset, IE sample, covers the period between 2006 and 2008 when PAs are allowed to choose ABAs or FPAs, I tried to check whether the assumption is plausible or not. My strategy is to replace the treated with the PAs in the voluntarily switched group and to contstruct new control groups based on population and experience values of the voluntarily switcher group. Since I checked that IE sample is already filtered by the same standards with the main data, the basic conditions of PAs are similar. Still I could not control the features in pretreatment regime, I take PA fixed effect into accounts. The same model of Table2 and Table3 were augmented. Before proceeding the calculation, I compared the size of the treated and new control group and the control group 1 based on experience revealed the only case that the treated group and the control group are different. Therefore, in this section, I have one control group based on experience variable.

#### Table8. Extension(1): Assumption Check

In [186]:
df_ext1 = extension_setting_IE(data1, data2)

In [196]:
vlunt_col1(df_ext)
vlunt_col2(df_ext)
parameter = (vlunt_col1(df_ext),vlunt_col2(df_ext))

In [212]:
table_ext1(parameter)

                                                     Control(1)    Control(2)
Panel                         value_title
A. Winning discount           First Auction Price    9.34***       9.28***
                              Standard Error         (1.62)        (1.61)
                              R$^2$                  0.552         0.556
                              Observations           657           657
B. Days to award the contract First Auction Price   25.65**       24.11**
                              Standard Error        (10.59)       (10.98)
                              R$^2$                 0.507         0.524
                              Observations          379           379

In [227]:
float(table_ext1(parameter).reset_index().iloc[0,2][:5])
float(table_ext1(parameter).reset_index().iloc[0,3][:5])

9.28

### 6.1.2 Extension (2)

additional regression in Authority  
re construct contrl group - removing by pop and exp value of forcedfp groups  
to correct the assumption underlying defining control group in this paper which is PAs in the ctrl groups would hace switched to FPAs if so allowed.

In [229]:
df_ext2 = extension_setting_auth(data1, data2)

In [274]:
len(df_ext2[(df_ext2['ctrl_exp_forcedfp_co']==1)&df_ext2['turin_co_sample']==1]) #같음 #즉ext2에서 co는 쓸 수 없다
len(df_ext2[(df_ext2['ctrl_exp_forcedfp_pr']==1)&df_ext2['turin_pr_sample']==1]) #다름(근데 pr은 singular matrix나옴ㅠㅠ)
len(df_ext2[(df_ext2['ctrl_pop_forcedfp_pr']==1)&df_ext2['turin_pr_sample']==1]) #다름(근데 pr은 singular matrix나옴ㅠㅠ)
len(df_ext2[(df_ext2['ctrl_pop_forcedfp_pr']==1)&(df_ext2['ctrl_exp_forcedfp_co']==1)&df_ext2['turin_pr_sample']==1]) #다름(singular)

765

In [275]:
len(data1[(data1['ctrl_pop_exp_turin_pr_sample']==1)&(data1['turin_pr_sample']==1)])

1040

In [ ]:
%matplotlib inline
plt.figure(figsize=(10.6))
plt.subplot(231)
plt.scatter(df0['fpsb_auction'], df0['municipality'])

plt.subplot(232)
plt.scatter(df0['fpsb_auction'], df0['reserve_price'])

plt.subplot(233)
plt.scatter(df0['fpsb_auction'], df0['fiscal_efficiency'])

plt.subplot(234)
plt.scatter(df0['reserve_price'], df0['municipality'])

plt.subplot(235)
plt.scatter(df0['reserve_price'], df0['fiscal_efficiency'])

plt.subplot(236)
plt.scatter(df0['municipality'], df0['fiscal_efficiency'])

In [ ]:
df0 = df[(df['ctrl_exp_turin_co_sample']==1)|(df['ctrl_pop_turin_co_sample']==1)|(df['ctrl_exp_turin_pr_sample']==1)|(df['ctrl_exp_turin_pr_sample']==1)]
plt.scatter(df0['fpsb_auction'], df0['municipality']) #color = 'r', s = 30, marker='o'
plt.scatter(df0['fpsb_auction'], df0['reserve_price'])
plt.scatter(df0['fpsb_auction'], df0['fiscal_efficiency'])
plt.scatter(df0['reserve_price'], df0['municipality'])
plt.scatter(df0['reserve_price'], df0['fiscal_efficiency'])
plt.scatter(df0['municipality'], df0['fiscal_efficiency'])